vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	//-ms-{prop} args
	//-o-{prop} args
	{prop} args
pos(pos = relative, t = auto, r = auto, b = auto, l = auto)
	position: pos
	top:      t
	right:    r
	bottom:   b
	left:     l
transition(arguments..., isMultiple = false)
	if(isMultiple)
		vendor(transition, arguments)
	else
		vendor(transition, arguments)
bdr(radius = bdr_1x) 
	if with_bdr == false
		vendor(border-radius, 0)
	else
		vendor(border-radius, radius)
bdres(topright = bdr_1x, bottomright = bdr_1x, bottomleft = bdr_1x, topleft = bdr_1x) 
	if with_bdr == false
		vendor(border-radius, 0)
	else		
		-webkit-border-top-right-radius:    topright
		-webkit-border-bottom-right-radius: bottomright
		-webkit-border-bottom-left-radius:  bottomleft
		-webkit-border-top-left-radius:     topleft
		-moz-border-radius-topright:        topright
		-moz-border-radius-bottomright:     bottomright
		-moz-border-radius-bottomleft:      bottomleft
		-moz-border-radius-topleft:         topleft
		border-top-right-radius:            topright
		border-bottom-right-radius:         bottomright
		border-bottom-left-radius:          bottomleft
		border-top-left-radius:             topleft
transform()
	vendor(transform, arguments)
box-shadow() 
	vendor(box-shadow, arguments)
opac(opac = 50)
	-ms-filter:     'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + (opac * 100) + ')'
	-moz-opacity:   opac
	-khtml-opacity: opac
	-webkit-opacity: opac
	opacity:        opac
filterblur(val = 3px)
	vendor(filter, blur(val))
filtergrayscale(val = 100%) 
	vendor(filter, grayscale(val))
display-flex(alignItems = center, justifyContent = center, flow = initial)
	display: -webkit-box
	display: -moz-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	vendor(align-items, alignItems)
	vendor(justify-content, justifyContent)
	vendor(flex-flow, flow)
gradient(startColor = color_1, endColor = color_2) 
	background-color: startColor
	background: -webkit-gradient(linear, left top, left bottom, from(startColor), to(endColor))
	background: -webkit-linear-gradient(top, startColor, endColor)
	background: -moz-linear-gradient(top, startColor, endColor)
	background: -ms-linear-gradient(top, startColor, endColor)
	background: -o-linear-gradient(top, startColor, endColor)
h-gradient(startColor = color_1, endColor = color_2) 
	//background-color: startColor
	background-image: -webkit-gradient(linear, left top, right top, from(startColor), to(endColor))
	background-image: -webkit-linear-gradient(left, startColor, endColor)
	background-image: -moz-linear-gradient(left, startColor, endColor)
	background-image: -ms-linear-gradient(left, startColor, endColor)
	background-image: -o-linear-gradient(left, startColor, endColor)
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
gradient-principal(cor1 = color_2, cor2 = color_1)
	background-linear-gradient(45deg, cor1, 0%, cor2, 100%, left top, left bottom)	
gradient-secundario(cor1 = color_2, cor2 = color_1)
	background-linear-gradient(240deg, cor1, 0%, cor2, 100%, left top, left bottom)	
btn-gradient(first_color, second_color)
	background: -moz-linear-gradient(left, first_color 0%, first_color 50%, second_color 50%, second_color 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, first_color), color-stop(50%, first_color), color-stop(50%, second_color), color-stop(100%, second_color));
	background: -webkit-linear-gradient(left, first_color 0%, first_color 50%, second_color 50%, second_color 100%);
	background: -o-linear-gradient(left, first_color 0%, first_color 50%, second_color 50%, second_color 100%);
	background: -ms-linear-gradient(left, first_color 0%, first_color 50%, second_color 50%, second_color 100%);
	background: linear-gradient(to right, first_color 0%, first_color 50%, second_color 50%, second_color 100%);
	background-size 200% 100%
inblock(va = middle)
	display: inline-block
	vertical-align: va
bg(name, ext = 'jpg', size = cover, options = no-repeat center center)
	background:      url('../images/'+ name + "." + ext) options
	background-size: size
img-centro()
	display block
	max-width 100%
	margin-left auto
	margin-right auto
abs-centro(distance = 0)
	absolute top distance right distance bottom distance left distance
	margin auto
centraliza(pos = absolute)
	pos top 50% left 50%
	transform translate(-50%,-50%)
clearfix()
	if arguments == 'none'
		&:before
		&:after
			display none
	else
		zoom: 1
		&:before
		&:after
			content: ""
			display: table
		&:after
			clear: both
size()
	if length(arguments) == 1
		width: arguments[0]
		height: arguments[0]
	else
		width: arguments[0]
		height: arguments[1]
-pos(type, args)
	i = 0
	position: unquote(type)
	for j in (1..4)
		if length(args) > i
			{args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
		i += 1
	if args == '0'
		top 0
		right 0
		bottom 0
		left 0
fixed()
	-pos('fixed', arguments)
absolute()
	-pos('absolute', arguments)
relative()
	-pos('relative', arguments)
-calc(prop, val)
	{prop}: 'calc(%s)' % unquote(val)
	{prop}: '-moz-calc(%s)' % unquote(val)
	{prop}: '-webkit-calc(%s)' % unquote(val)
overlay(cor = #000, opacity = .5, z = -1)
	position relative
	z-index 0
	&:before
		content ''
		display block
		z-index z
		abs-centro()
		background cor
		opac(opacity)
		pointer-events none
		transition all .5s
placeholder()		
	&::-webkit-input-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
scrollbar(c1 = rgba(0,0,0,.3), c2 = color_1, w = 7px)
	&::-webkit-scrollbar
		size w
		background c1
	&::-webkit-scrollbar-thumb
		size w
		background c2
pos-center(pos = relative)
	pos top 50% left 50%
	transform translate(-50%,-50%)
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale	
y-center(pos = relative)
	pos top 50%
	transform translateY(-50%)
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
x-center(pos = relative)
	pos left 50%
	transform translateX(-50%)
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
// Colors
for val, i in colors
	i = i + 1
	define('color_'+i,val)
	.color-{i}
		color val !important
	.bg-{i}
		background val !important
	.border-color-{i}
		border-color val !important
		
for val, i in theme_colors
	i = i + 1
	define('theme_color_'+i,val)

// Fonts
for val, i in fontsizes
	i = i + 1
	define('fz_'+i+'x',val)
	.fz-{i}x
		responsive-font-size(val)
		
for val, i in fontweights
	i = i + 1
	define('fw_'+i+'x',val)
	.fw-{i}x
		font-weight val
		
// Borders
for val, i in bdrs
	i = i + 1
	define('bdr_'+i+'x',val)
	.bdr-{i}x
		bdr(val)
// Sizes
for val, i in sizes
	i = i + 1
	define('size_'+i+'r',val)
	.size-{i}r
	.w-{i}r
		width val !important
	.size-{i}r
	.h-{i}r
		height val !important
	.max-w-{i}r
		max-width val !important
	.max-h-{i}r
		max-height val !important
		
// Spacing
proportion = 8
maxMultiply = 30
for i in (1..maxMultiply)
	val = i * proportion
	.p-{val}
		padding unit(val,'px') !important
	.pt-{val}
	.py-{val}
		padding-top unit(val,'px') !important
	.pr-{val}
	.px-{val}
		padding-right unit(val,'px') !important
	.pb-{val}
	.py-{val}
		padding-bottom unit(val,'px') !important
	.pl-{val}
	.px-{val}
		padding-left unit(val,'px') !important
	.m-{val}
		margin unit(val,'px') !important
	.mt-{val}
	.my-{val}
		margin-top unit(val,'px') !important
	.mr-{val}
	.mx-{val}
		margin-right unit(val,'px') !important
	.mb-{val}
	.my-{val}
		margin-bottom unit(val,'px') !important
	.ml-{val}
	.mx-{val}
		margin-left unit(val,'px') !important

keyframify(animationName)
	@keyframes {animationName} 
		{block}
animate(aniName = jello, aniDuration = .8s, aniHover = false, aniInfinite = false)
	vendor animation-duration, aniDuration
	vendor animation-fill-mode, both
	if aniHover
		&:hover
			vendor(animation-name, aniName !important)
			vendor backface-visibility, hidden
	else
		vendor(animation-name, aniName !important)
		vendor backface-visibility, hidden
	if aniInfinite
		vendor animation-iteration-count, infinite

+keyframify(bgRepeat)
	from
		background-position left 0 bottom
	to
		background-position left -1920px bottom
		
+keyframify(rotate)
	from
		transform rotate(0)
	to
		transform rotate(360deg)
