@import 'https://fonts.googleapis.com/css?family=Catamaran:300,400,700|Montserrat:300,400,700';
.ff-text {
  font-family: 'Catamaran', sans-serif;
}
.ff-title {
  font-family: 'Montserrat', sans-serif;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
