@import 'https://fonts.googleapis.com/css?family=Catamaran:300,400,700|Montserrat:300,400,700';
.ff-text {
  font-family: 'Catamaran', sans-serif;
}
.ff-title {
  font-family: 'Montserrat', sans-serif;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.color-1 {
  color: #0ecaaa !important;
}
.bg-1 {
  background: #0ecaaa !important;
}
.border-color-1 {
  border-color: #0ecaaa !important;
}
.color-2 {
  color: #68caf5 !important;
}
.bg-2 {
  background: #68caf5 !important;
}
.border-color-2 {
  border-color: #68caf5 !important;
}
.color-3 {
  color: #333 !important;
}
.bg-3 {
  background: #333 !important;
}
.border-color-3 {
  border-color: #333 !important;
}
.color-4 {
  color: #999 !important;
}
.bg-4 {
  background: #999 !important;
}
.border-color-4 {
  border-color: #999 !important;
}
.color-5 {
  color: #f7f7f7 !important;
}
.bg-5 {
  background: #f7f7f7 !important;
}
.border-color-5 {
  border-color: #f7f7f7 !important;
}
.fz-1x {
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .fz-1x {
    font-size: calc(0.685rem + 0.42vw);
  }
}
.fz-2x {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .fz-2x {
    font-size: calc(0.735rem + 1.02vw);
  }
}
.fz-3x {
  font-size: 4.5rem;
}
@media (max-width: 1200px) {
  .fz-3x {
    font-size: calc(1.0350000000000001rem + 4.62vw);
  }
}
.fw-1x {
  font-weight: 300;
}
.fw-2x {
  font-weight: 400;
}
.fw-3x {
  font-weight: 700;
}
.bdr-1x {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.bdr-2x {
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.bdr-3x {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.size-1r,
.w-1r {
  width: 1rem !important;
}
.size-1r,
.h-1r {
  height: 1rem !important;
}
.max-w-1r {
  max-width: 1rem !important;
}
.max-h-1r {
  max-height: 1rem !important;
}
.size-2r,
.w-2r {
  width: 2rem !important;
}
.size-2r,
.h-2r {
  height: 2rem !important;
}
.max-w-2r {
  max-width: 2rem !important;
}
.max-h-2r {
  max-height: 2rem !important;
}
.size-3r,
.w-3r {
  width: 3rem !important;
}
.size-3r,
.h-3r {
  height: 3rem !important;
}
.max-w-3r {
  max-width: 3rem !important;
}
.max-h-3r {
  max-height: 3rem !important;
}
.size-4r,
.w-4r {
  width: 4rem !important;
}
.size-4r,
.h-4r {
  height: 4rem !important;
}
.max-w-4r {
  max-width: 4rem !important;
}
.max-h-4r {
  max-height: 4rem !important;
}
.size-5r,
.w-5r {
  width: 5rem !important;
}
.size-5r,
.h-5r {
  height: 5rem !important;
}
.max-w-5r {
  max-width: 5rem !important;
}
.max-h-5r {
  max-height: 5rem !important;
}
.size-6r,
.w-6r {
  width: 6rem !important;
}
.size-6r,
.h-6r {
  height: 6rem !important;
}
.max-w-6r {
  max-width: 6rem !important;
}
.max-h-6r {
  max-height: 6rem !important;
}
.size-7r,
.w-7r {
  width: 7rem !important;
}
.size-7r,
.h-7r {
  height: 7rem !important;
}
.max-w-7r {
  max-width: 7rem !important;
}
.max-h-7r {
  max-height: 7rem !important;
}
.size-8r,
.w-8r {
  width: 8rem !important;
}
.size-8r,
.h-8r {
  height: 8rem !important;
}
.max-w-8r {
  max-width: 8rem !important;
}
.max-h-8r {
  max-height: 8rem !important;
}
.size-9r,
.w-9r {
  width: 9rem !important;
}
.size-9r,
.h-9r {
  height: 9rem !important;
}
.max-w-9r {
  max-width: 9rem !important;
}
.max-h-9r {
  max-height: 9rem !important;
}
.size-10r,
.w-10r {
  width: 10rem !important;
}
.size-10r,
.h-10r {
  height: 10rem !important;
}
.max-w-10r {
  max-width: 10rem !important;
}
.max-h-10r {
  max-height: 10rem !important;
}
.size-11r,
.w-11r {
  width: 11rem !important;
}
.size-11r,
.h-11r {
  height: 11rem !important;
}
.max-w-11r {
  max-width: 11rem !important;
}
.max-h-11r {
  max-height: 11rem !important;
}
.size-12r,
.w-12r {
  width: 12rem !important;
}
.size-12r,
.h-12r {
  height: 12rem !important;
}
.max-w-12r {
  max-width: 12rem !important;
}
.max-h-12r {
  max-height: 12rem !important;
}
.p-8 {
  padding: 8px !important;
}
.pt-8,
.py-8 {
  padding-top: 8px !important;
}
.pr-8,
.px-8 {
  padding-right: 8px !important;
}
.pb-8,
.py-8 {
  padding-bottom: 8px !important;
}
.pl-8,
.px-8 {
  padding-left: 8px !important;
}
.m-8 {
  margin: 8px !important;
}
.mt-8,
.my-8 {
  margin-top: 8px !important;
}
.mr-8,
.mx-8 {
  margin-right: 8px !important;
}
.mb-8,
.my-8 {
  margin-bottom: 8px !important;
}
.ml-8,
.mx-8 {
  margin-left: 8px !important;
}
.p-16 {
  padding: 16px !important;
}
.pt-16,
.py-16 {
  padding-top: 16px !important;
}
.pr-16,
.px-16 {
  padding-right: 16px !important;
}
.pb-16,
.py-16 {
  padding-bottom: 16px !important;
}
.pl-16,
.px-16 {
  padding-left: 16px !important;
}
.m-16 {
  margin: 16px !important;
}
.mt-16,
.my-16 {
  margin-top: 16px !important;
}
.mr-16,
.mx-16 {
  margin-right: 16px !important;
}
.mb-16,
.my-16 {
  margin-bottom: 16px !important;
}
.ml-16,
.mx-16 {
  margin-left: 16px !important;
}
.p-24 {
  padding: 24px !important;
}
.pt-24,
.py-24 {
  padding-top: 24px !important;
}
.pr-24,
.px-24 {
  padding-right: 24px !important;
}
.pb-24,
.py-24 {
  padding-bottom: 24px !important;
}
.pl-24,
.px-24 {
  padding-left: 24px !important;
}
.m-24 {
  margin: 24px !important;
}
.mt-24,
.my-24 {
  margin-top: 24px !important;
}
.mr-24,
.mx-24 {
  margin-right: 24px !important;
}
.mb-24,
.my-24 {
  margin-bottom: 24px !important;
}
.ml-24,
.mx-24 {
  margin-left: 24px !important;
}
.p-32 {
  padding: 32px !important;
}
.pt-32,
.py-32 {
  padding-top: 32px !important;
}
.pr-32,
.px-32 {
  padding-right: 32px !important;
}
.pb-32,
.py-32 {
  padding-bottom: 32px !important;
}
.pl-32,
.px-32 {
  padding-left: 32px !important;
}
.m-32 {
  margin: 32px !important;
}
.mt-32,
.my-32 {
  margin-top: 32px !important;
}
.mr-32,
.mx-32 {
  margin-right: 32px !important;
}
.mb-32,
.my-32 {
  margin-bottom: 32px !important;
}
.ml-32,
.mx-32 {
  margin-left: 32px !important;
}
.p-40 {
  padding: 40px !important;
}
.pt-40,
.py-40 {
  padding-top: 40px !important;
}
.pr-40,
.px-40 {
  padding-right: 40px !important;
}
.pb-40,
.py-40 {
  padding-bottom: 40px !important;
}
.pl-40,
.px-40 {
  padding-left: 40px !important;
}
.m-40 {
  margin: 40px !important;
}
.mt-40,
.my-40 {
  margin-top: 40px !important;
}
.mr-40,
.mx-40 {
  margin-right: 40px !important;
}
.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}
.ml-40,
.mx-40 {
  margin-left: 40px !important;
}
.p-48 {
  padding: 48px !important;
}
.pt-48,
.py-48 {
  padding-top: 48px !important;
}
.pr-48,
.px-48 {
  padding-right: 48px !important;
}
.pb-48,
.py-48 {
  padding-bottom: 48px !important;
}
.pl-48,
.px-48 {
  padding-left: 48px !important;
}
.m-48 {
  margin: 48px !important;
}
.mt-48,
.my-48 {
  margin-top: 48px !important;
}
.mr-48,
.mx-48 {
  margin-right: 48px !important;
}
.mb-48,
.my-48 {
  margin-bottom: 48px !important;
}
.ml-48,
.mx-48 {
  margin-left: 48px !important;
}
.p-56 {
  padding: 56px !important;
}
.pt-56,
.py-56 {
  padding-top: 56px !important;
}
.pr-56,
.px-56 {
  padding-right: 56px !important;
}
.pb-56,
.py-56 {
  padding-bottom: 56px !important;
}
.pl-56,
.px-56 {
  padding-left: 56px !important;
}
.m-56 {
  margin: 56px !important;
}
.mt-56,
.my-56 {
  margin-top: 56px !important;
}
.mr-56,
.mx-56 {
  margin-right: 56px !important;
}
.mb-56,
.my-56 {
  margin-bottom: 56px !important;
}
.ml-56,
.mx-56 {
  margin-left: 56px !important;
}
.p-64 {
  padding: 64px !important;
}
.pt-64,
.py-64 {
  padding-top: 64px !important;
}
.pr-64,
.px-64 {
  padding-right: 64px !important;
}
.pb-64,
.py-64 {
  padding-bottom: 64px !important;
}
.pl-64,
.px-64 {
  padding-left: 64px !important;
}
.m-64 {
  margin: 64px !important;
}
.mt-64,
.my-64 {
  margin-top: 64px !important;
}
.mr-64,
.mx-64 {
  margin-right: 64px !important;
}
.mb-64,
.my-64 {
  margin-bottom: 64px !important;
}
.ml-64,
.mx-64 {
  margin-left: 64px !important;
}
.p-72 {
  padding: 72px !important;
}
.pt-72,
.py-72 {
  padding-top: 72px !important;
}
.pr-72,
.px-72 {
  padding-right: 72px !important;
}
.pb-72,
.py-72 {
  padding-bottom: 72px !important;
}
.pl-72,
.px-72 {
  padding-left: 72px !important;
}
.m-72 {
  margin: 72px !important;
}
.mt-72,
.my-72 {
  margin-top: 72px !important;
}
.mr-72,
.mx-72 {
  margin-right: 72px !important;
}
.mb-72,
.my-72 {
  margin-bottom: 72px !important;
}
.ml-72,
.mx-72 {
  margin-left: 72px !important;
}
.p-80 {
  padding: 80px !important;
}
.pt-80,
.py-80 {
  padding-top: 80px !important;
}
.pr-80,
.px-80 {
  padding-right: 80px !important;
}
.pb-80,
.py-80 {
  padding-bottom: 80px !important;
}
.pl-80,
.px-80 {
  padding-left: 80px !important;
}
.m-80 {
  margin: 80px !important;
}
.mt-80,
.my-80 {
  margin-top: 80px !important;
}
.mr-80,
.mx-80 {
  margin-right: 80px !important;
}
.mb-80,
.my-80 {
  margin-bottom: 80px !important;
}
.ml-80,
.mx-80 {
  margin-left: 80px !important;
}
.p-88 {
  padding: 88px !important;
}
.pt-88,
.py-88 {
  padding-top: 88px !important;
}
.pr-88,
.px-88 {
  padding-right: 88px !important;
}
.pb-88,
.py-88 {
  padding-bottom: 88px !important;
}
.pl-88,
.px-88 {
  padding-left: 88px !important;
}
.m-88 {
  margin: 88px !important;
}
.mt-88,
.my-88 {
  margin-top: 88px !important;
}
.mr-88,
.mx-88 {
  margin-right: 88px !important;
}
.mb-88,
.my-88 {
  margin-bottom: 88px !important;
}
.ml-88,
.mx-88 {
  margin-left: 88px !important;
}
.p-96 {
  padding: 96px !important;
}
.pt-96,
.py-96 {
  padding-top: 96px !important;
}
.pr-96,
.px-96 {
  padding-right: 96px !important;
}
.pb-96,
.py-96 {
  padding-bottom: 96px !important;
}
.pl-96,
.px-96 {
  padding-left: 96px !important;
}
.m-96 {
  margin: 96px !important;
}
.mt-96,
.my-96 {
  margin-top: 96px !important;
}
.mr-96,
.mx-96 {
  margin-right: 96px !important;
}
.mb-96,
.my-96 {
  margin-bottom: 96px !important;
}
.ml-96,
.mx-96 {
  margin-left: 96px !important;
}
.p-104 {
  padding: 104px !important;
}
.pt-104,
.py-104 {
  padding-top: 104px !important;
}
.pr-104,
.px-104 {
  padding-right: 104px !important;
}
.pb-104,
.py-104 {
  padding-bottom: 104px !important;
}
.pl-104,
.px-104 {
  padding-left: 104px !important;
}
.m-104 {
  margin: 104px !important;
}
.mt-104,
.my-104 {
  margin-top: 104px !important;
}
.mr-104,
.mx-104 {
  margin-right: 104px !important;
}
.mb-104,
.my-104 {
  margin-bottom: 104px !important;
}
.ml-104,
.mx-104 {
  margin-left: 104px !important;
}
.p-112 {
  padding: 112px !important;
}
.pt-112,
.py-112 {
  padding-top: 112px !important;
}
.pr-112,
.px-112 {
  padding-right: 112px !important;
}
.pb-112,
.py-112 {
  padding-bottom: 112px !important;
}
.pl-112,
.px-112 {
  padding-left: 112px !important;
}
.m-112 {
  margin: 112px !important;
}
.mt-112,
.my-112 {
  margin-top: 112px !important;
}
.mr-112,
.mx-112 {
  margin-right: 112px !important;
}
.mb-112,
.my-112 {
  margin-bottom: 112px !important;
}
.ml-112,
.mx-112 {
  margin-left: 112px !important;
}
.p-120 {
  padding: 120px !important;
}
.pt-120,
.py-120 {
  padding-top: 120px !important;
}
.pr-120,
.px-120 {
  padding-right: 120px !important;
}
.pb-120,
.py-120 {
  padding-bottom: 120px !important;
}
.pl-120,
.px-120 {
  padding-left: 120px !important;
}
.m-120 {
  margin: 120px !important;
}
.mt-120,
.my-120 {
  margin-top: 120px !important;
}
.mr-120,
.mx-120 {
  margin-right: 120px !important;
}
.mb-120,
.my-120 {
  margin-bottom: 120px !important;
}
.ml-120,
.mx-120 {
  margin-left: 120px !important;
}
.p-128 {
  padding: 128px !important;
}
.pt-128,
.py-128 {
  padding-top: 128px !important;
}
.pr-128,
.px-128 {
  padding-right: 128px !important;
}
.pb-128,
.py-128 {
  padding-bottom: 128px !important;
}
.pl-128,
.px-128 {
  padding-left: 128px !important;
}
.m-128 {
  margin: 128px !important;
}
.mt-128,
.my-128 {
  margin-top: 128px !important;
}
.mr-128,
.mx-128 {
  margin-right: 128px !important;
}
.mb-128,
.my-128 {
  margin-bottom: 128px !important;
}
.ml-128,
.mx-128 {
  margin-left: 128px !important;
}
.p-136 {
  padding: 136px !important;
}
.pt-136,
.py-136 {
  padding-top: 136px !important;
}
.pr-136,
.px-136 {
  padding-right: 136px !important;
}
.pb-136,
.py-136 {
  padding-bottom: 136px !important;
}
.pl-136,
.px-136 {
  padding-left: 136px !important;
}
.m-136 {
  margin: 136px !important;
}
.mt-136,
.my-136 {
  margin-top: 136px !important;
}
.mr-136,
.mx-136 {
  margin-right: 136px !important;
}
.mb-136,
.my-136 {
  margin-bottom: 136px !important;
}
.ml-136,
.mx-136 {
  margin-left: 136px !important;
}
.p-144 {
  padding: 144px !important;
}
.pt-144,
.py-144 {
  padding-top: 144px !important;
}
.pr-144,
.px-144 {
  padding-right: 144px !important;
}
.pb-144,
.py-144 {
  padding-bottom: 144px !important;
}
.pl-144,
.px-144 {
  padding-left: 144px !important;
}
.m-144 {
  margin: 144px !important;
}
.mt-144,
.my-144 {
  margin-top: 144px !important;
}
.mr-144,
.mx-144 {
  margin-right: 144px !important;
}
.mb-144,
.my-144 {
  margin-bottom: 144px !important;
}
.ml-144,
.mx-144 {
  margin-left: 144px !important;
}
.p-152 {
  padding: 152px !important;
}
.pt-152,
.py-152 {
  padding-top: 152px !important;
}
.pr-152,
.px-152 {
  padding-right: 152px !important;
}
.pb-152,
.py-152 {
  padding-bottom: 152px !important;
}
.pl-152,
.px-152 {
  padding-left: 152px !important;
}
.m-152 {
  margin: 152px !important;
}
.mt-152,
.my-152 {
  margin-top: 152px !important;
}
.mr-152,
.mx-152 {
  margin-right: 152px !important;
}
.mb-152,
.my-152 {
  margin-bottom: 152px !important;
}
.ml-152,
.mx-152 {
  margin-left: 152px !important;
}
.p-160 {
  padding: 160px !important;
}
.pt-160,
.py-160 {
  padding-top: 160px !important;
}
.pr-160,
.px-160 {
  padding-right: 160px !important;
}
.pb-160,
.py-160 {
  padding-bottom: 160px !important;
}
.pl-160,
.px-160 {
  padding-left: 160px !important;
}
.m-160 {
  margin: 160px !important;
}
.mt-160,
.my-160 {
  margin-top: 160px !important;
}
.mr-160,
.mx-160 {
  margin-right: 160px !important;
}
.mb-160,
.my-160 {
  margin-bottom: 160px !important;
}
.ml-160,
.mx-160 {
  margin-left: 160px !important;
}
.p-168 {
  padding: 168px !important;
}
.pt-168,
.py-168 {
  padding-top: 168px !important;
}
.pr-168,
.px-168 {
  padding-right: 168px !important;
}
.pb-168,
.py-168 {
  padding-bottom: 168px !important;
}
.pl-168,
.px-168 {
  padding-left: 168px !important;
}
.m-168 {
  margin: 168px !important;
}
.mt-168,
.my-168 {
  margin-top: 168px !important;
}
.mr-168,
.mx-168 {
  margin-right: 168px !important;
}
.mb-168,
.my-168 {
  margin-bottom: 168px !important;
}
.ml-168,
.mx-168 {
  margin-left: 168px !important;
}
.p-176 {
  padding: 176px !important;
}
.pt-176,
.py-176 {
  padding-top: 176px !important;
}
.pr-176,
.px-176 {
  padding-right: 176px !important;
}
.pb-176,
.py-176 {
  padding-bottom: 176px !important;
}
.pl-176,
.px-176 {
  padding-left: 176px !important;
}
.m-176 {
  margin: 176px !important;
}
.mt-176,
.my-176 {
  margin-top: 176px !important;
}
.mr-176,
.mx-176 {
  margin-right: 176px !important;
}
.mb-176,
.my-176 {
  margin-bottom: 176px !important;
}
.ml-176,
.mx-176 {
  margin-left: 176px !important;
}
.p-184 {
  padding: 184px !important;
}
.pt-184,
.py-184 {
  padding-top: 184px !important;
}
.pr-184,
.px-184 {
  padding-right: 184px !important;
}
.pb-184,
.py-184 {
  padding-bottom: 184px !important;
}
.pl-184,
.px-184 {
  padding-left: 184px !important;
}
.m-184 {
  margin: 184px !important;
}
.mt-184,
.my-184 {
  margin-top: 184px !important;
}
.mr-184,
.mx-184 {
  margin-right: 184px !important;
}
.mb-184,
.my-184 {
  margin-bottom: 184px !important;
}
.ml-184,
.mx-184 {
  margin-left: 184px !important;
}
.p-192 {
  padding: 192px !important;
}
.pt-192,
.py-192 {
  padding-top: 192px !important;
}
.pr-192,
.px-192 {
  padding-right: 192px !important;
}
.pb-192,
.py-192 {
  padding-bottom: 192px !important;
}
.pl-192,
.px-192 {
  padding-left: 192px !important;
}
.m-192 {
  margin: 192px !important;
}
.mt-192,
.my-192 {
  margin-top: 192px !important;
}
.mr-192,
.mx-192 {
  margin-right: 192px !important;
}
.mb-192,
.my-192 {
  margin-bottom: 192px !important;
}
.ml-192,
.mx-192 {
  margin-left: 192px !important;
}
.p-200 {
  padding: 200px !important;
}
.pt-200,
.py-200 {
  padding-top: 200px !important;
}
.pr-200,
.px-200 {
  padding-right: 200px !important;
}
.pb-200,
.py-200 {
  padding-bottom: 200px !important;
}
.pl-200,
.px-200 {
  padding-left: 200px !important;
}
.m-200 {
  margin: 200px !important;
}
.mt-200,
.my-200 {
  margin-top: 200px !important;
}
.mr-200,
.mx-200 {
  margin-right: 200px !important;
}
.mb-200,
.my-200 {
  margin-bottom: 200px !important;
}
.ml-200,
.mx-200 {
  margin-left: 200px !important;
}
.p-208 {
  padding: 208px !important;
}
.pt-208,
.py-208 {
  padding-top: 208px !important;
}
.pr-208,
.px-208 {
  padding-right: 208px !important;
}
.pb-208,
.py-208 {
  padding-bottom: 208px !important;
}
.pl-208,
.px-208 {
  padding-left: 208px !important;
}
.m-208 {
  margin: 208px !important;
}
.mt-208,
.my-208 {
  margin-top: 208px !important;
}
.mr-208,
.mx-208 {
  margin-right: 208px !important;
}
.mb-208,
.my-208 {
  margin-bottom: 208px !important;
}
.ml-208,
.mx-208 {
  margin-left: 208px !important;
}
.p-216 {
  padding: 216px !important;
}
.pt-216,
.py-216 {
  padding-top: 216px !important;
}
.pr-216,
.px-216 {
  padding-right: 216px !important;
}
.pb-216,
.py-216 {
  padding-bottom: 216px !important;
}
.pl-216,
.px-216 {
  padding-left: 216px !important;
}
.m-216 {
  margin: 216px !important;
}
.mt-216,
.my-216 {
  margin-top: 216px !important;
}
.mr-216,
.mx-216 {
  margin-right: 216px !important;
}
.mb-216,
.my-216 {
  margin-bottom: 216px !important;
}
.ml-216,
.mx-216 {
  margin-left: 216px !important;
}
.p-224 {
  padding: 224px !important;
}
.pt-224,
.py-224 {
  padding-top: 224px !important;
}
.pr-224,
.px-224 {
  padding-right: 224px !important;
}
.pb-224,
.py-224 {
  padding-bottom: 224px !important;
}
.pl-224,
.px-224 {
  padding-left: 224px !important;
}
.m-224 {
  margin: 224px !important;
}
.mt-224,
.my-224 {
  margin-top: 224px !important;
}
.mr-224,
.mx-224 {
  margin-right: 224px !important;
}
.mb-224,
.my-224 {
  margin-bottom: 224px !important;
}
.ml-224,
.mx-224 {
  margin-left: 224px !important;
}
.p-232 {
  padding: 232px !important;
}
.pt-232,
.py-232 {
  padding-top: 232px !important;
}
.pr-232,
.px-232 {
  padding-right: 232px !important;
}
.pb-232,
.py-232 {
  padding-bottom: 232px !important;
}
.pl-232,
.px-232 {
  padding-left: 232px !important;
}
.m-232 {
  margin: 232px !important;
}
.mt-232,
.my-232 {
  margin-top: 232px !important;
}
.mr-232,
.mx-232 {
  margin-right: 232px !important;
}
.mb-232,
.my-232 {
  margin-bottom: 232px !important;
}
.ml-232,
.mx-232 {
  margin-left: 232px !important;
}
.p-240 {
  padding: 240px !important;
}
.pt-240,
.py-240 {
  padding-top: 240px !important;
}
.pr-240,
.px-240 {
  padding-right: 240px !important;
}
.pb-240,
.py-240 {
  padding-bottom: 240px !important;
}
.pl-240,
.px-240 {
  padding-left: 240px !important;
}
.m-240 {
  margin: 240px !important;
}
.mt-240,
.my-240 {
  margin-top: 240px !important;
}
.mr-240,
.mx-240 {
  margin-right: 240px !important;
}
.mb-240,
.my-240 {
  margin-bottom: 240px !important;
}
.ml-240,
.mx-240 {
  margin-left: 240px !important;
}
@-moz-keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@-webkit-keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@-o-keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  outline: none !important;
}
html {
  height: 100%;
}
body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1rem;
  color: #333;
  position: relative;
  text-rendering: optimizeLegibility;
}
@media (max-width: 1200px) {
  body {
    font-size: calc(0.685rem + 0.42vw);
  }
}
body.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}
main {
  position: relative;
  display: block;
  background: #fff;
}
section {
  position: relative;
}
p {
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: currentColor;
  word-wrap: break-word;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #0ecaaa;
}
a[onclick] {
  cursor: pointer;
}
ul {
  margin-bottom: 0;
}
label,
h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
  line-height: 1.3;
}
label {
  margin-bottom: 0.5rem;
}
strong {
  font-weight: 700;
}
small {
  font-size: 0.75rem;
}
hr {
  border-width: 1px;
  border-color: #ccc;
  position: relative;
  z-index: 0;
}
hr.dark {
  border-color: rgba(19,19,48,0.5);
}
*::-moz-selection {
  background: rgba(14,202,170,0.75);
  color: #fff;
  text-shadow: none !important;
}
*::selection {
  background: rgba(14,202,170,0.75);
  color: #fff;
  text-shadow: none !important;
}
.display-1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #333;
}
@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.0350000000000001rem + 4.62vw);
  }
}
.text-white .display-1 {
  color: inherit;
}
.display-2 {
  font-size: 1.5rem;
  color: #333;
}
@media (max-width: 1200px) {
  .display-2 {
    font-size: calc(0.735rem + 1.02vw);
  }
}
.text-white .display-2 {
  color: inherit;
}
.display-3,
.display-4,
.display-5,
.display-6 {
  font-size: 1rem;
  color: #333;
}
@media (max-width: 1200px) {
  .display-3,
  .display-4,
  .display-5,
  .display-6 {
    font-size: calc(0.685rem + 0.42vw);
  }
}
.text-white .display-3,
.text-white .display-4,
.text-white .display-5,
.text-white .display-6 {
  color: inherit;
}
.text-muted {
  color: #999 !important;
}
a.text-muted:hover {
  color: #0ecaaa !important;
}
.text-success {
  color: #0ecaaa !important;
}
.text-danger {
  color: #f5113e !important;
}
.text-underline {
  text-decoration: underline !important;
}
.bg-light {
  background: #f7f7f7 !important;
}
.py-section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.py-section-sm {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media only screen and (max-width: 992px) {
  .py-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.pt-section {
  padding-top: 10rem;
}
.pt-section-sm {
  padding-top: 5rem;
}
@media only screen and (max-width: 992px) {
  .pt-section {
    padding-top: 5rem;
  }
}
.pb-section {
  padding-bottom: 10rem;
}
.pb-section-sm {
  padding-bottom: 5rem;
}
@media only screen and (max-width: 992px) {
  .pb-section {
    padding-bottom: 5rem;
  }
}
.border-top {
  border-top: 1px solid #ccc !important;
}
.border-right {
  border-right: 1px solid #ccc !important;
}
.border-bottom {
  border-bottom: 1px solid #ccc !important;
}
.border-left {
  border-left: 1px solid #ccc !important;
}
.lh-1 {
  line-height: 1;
}
.h-0 {
  height: 0 !important;
}
.h-100vh {
  height: 100vh;
}
.w-0 {
  width: 0 !important;
}
.w-100vw {
  width: 100vw;
}
.translateY-n50p {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.maw-320 {
  max-width: 320px;
}
.minw-4r {
  min-width: 2rem;
}
.minw-6r {
  min-width: 6rem;
}
.minw-7r {
  min-width: 7rem;
}
@media only screen and (max-width: 768px) {
  .minw-7r {
    min-width: 6rem;
  }
}
@media only screen and (max-width: 576px) {
  .minw-7r {
    min-width: 5rem;
  }
}
.minw-8r {
  min-width: 8rem;
}
.minw-10r {
  min-width: 10rem;
}
@media only screen and (max-width: 768px) {
  .minw-10r {
    min-width: 8rem;
  }
}
.minw-12r {
  min-width: 12rem;
}
.ovh {
  overflow: hidden;
}
.wow {
  visibility: hidden;
}
.wow-v {
  visibility: visible !important;
}
.fz-0 {
  font-size: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.ml-n4r {
  margin-left: -4rem;
}
.inblock {
  display: inline-block;
  vertical-align: middle;
}
.box-shadow {
  -webkit-box-shadow: 0 0 45px -10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 45px -10px rgba(0,0,0,0.25);
  box-shadow: 0 0 45px -10px rgba(0,0,0,0.25);
}
.rounded {
  -webkit-border-radius: 0.25rem !important;
  -moz-border-radius: 0.25rem !important;
  border-radius: 0.25rem !important;
}
.flex-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.slick-stretch .slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slick-stretch .slick-slide > * {
  height: 100%;
}
.slick-track,
.slick-list,
.slick-slide {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-slider:not(.slick-hide) .slick-list {
  overflow: visible !important;
}
.slick-slider:not(.slick-hide) .slick-slide {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick-visible .slick-slider:not(.slick-hide) .slick-slide {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  visibility: visible;
}
.slick-visible-100 .slick-slider:not(.slick-hide) .slick-slide,
.slick-slider:not(.slick-hide) .slick-slide.slick-active {
  visibility: visible;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.slick-hide {
  position: relative;
}
.slick-hide:before,
.slick-hide:after {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  width: 4rem;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255,255,255,0.001)));
  background-image: -webkit-linear-gradient(left, #fff, rgba(255,255,255,0.001));
  background-image: -moz-linear-gradient(left, #fff, rgba(255,255,255,0.001));
  background-image: -ms-linear-gradient(left, #fff, rgba(255,255,255,0.001));
  background-image: -o-linear-gradient(left, #fff, rgba(255,255,255,0.001));
  pointer-events: none;
}
.slick-hide:after {
  left: auto;
  right: -1px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.slick-hide.left:before {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.slick-hide.right:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.slick-dots {
  display: block;
  width: 100%;
  margin: 15px 0 0;
  text-align: center;
  white-space: nowrap;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.slick-dots li button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  outline: none;
  border: 2px solid #f7f7f7;
  background: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
  appearance: none;
}
.slick-dots li.slick-active button {
  background: #f7f7f7;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  z-index: 2;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #f7f7f7;
  color: #999;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'Font Awesome\ 5 Pro';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: '\f104';
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}
@media (max-width: 1200px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: calc(0.735rem + 1.02vw);
  }
}
.slick-prev:hover,
.slick-next:hover {
  background: #eaeaea;
  color: #333;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  cursor: default;
  background: #f7f7f7 !important;
  color: #999 !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.text-white .slick-prev,
.text-white .slick-next {
  background: #fff;
}
.text-white .slick-prev:hover,
.text-white .slick-next:hover {
  background: #68caf5;
  color: #fff;
}
.text-white .slick-prev.slick-disabled,
.text-white .slick-next.slick-disabled {
  background: #fff !important;
}
.slick-next {
  right: auto;
  left: 100%;
}
.slick-next:before {
  content: '\f105';
}
.slick-arrows-up {
  width: 100%;
  max-width: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: column-reverse;
  -moz-flex-flow: column-reverse;
  flex-flow: column-reverse;
}
.slick-arrows-up .slick-list {
  width: 100%;
}
.slick-arrows-up .slick-prev,
.slick-arrows-up .slick-next {
  position: relative;
  left: auto;
  right: auto;
  margin: 1rem auto 2rem 0;
  display: inline-block;
  vertical-align: middle;
}
.slick-arrows-up .slick-next {
  margin-left: 0;
  position: absolute;
  left: 5rem;
}
@media only screen and (max-width: 1200px) {
  .slick-arrows-up .slick-next {
    left: 4rem;
  }
}
@media only screen and (max-width: 576px) {
  .slick-arrows-up .slick-next {
    left: 3.5rem;
  }
}
.slick-arrows-abs .slick-prev,
.slick-arrows-abs .slick-next {
  position: absolute;
  left: 0;
  top: -6.5rem;
  bottom: auto;
  right: auto;
}
.row.slick-arrows-abs .slick-prev,
.row.slick-arrows-abs .slick-next {
  left: 1rem;
}
@media only screen and (max-width: 1200px) {
  .slick-arrows-abs .slick-prev,
  .slick-arrows-abs .slick-next {
    top: -6.25rem;
  }
}
@media only screen and (max-width: 992px) {
  .slick-arrows-abs .slick-prev,
  .slick-arrows-abs .slick-next {
    top: -6rem;
  }
}
@media only screen and (max-width: 768px) {
  .slick-arrows-abs .slick-prev,
  .slick-arrows-abs .slick-next {
    top: -4.5rem;
  }
}
.slick-arrows-abs .slick-next {
  left: 5rem;
}
@media only screen and (max-width: 1200px) {
  .slick-arrows-abs .slick-next {
    left: 4rem;
  }
}
@media only screen and (max-width: 576px) {
  .slick-arrows-abs .slick-next {
    left: 3.5rem;
  }
}
.row.slick-arrows-abs .slick-next {
  left: 6rem;
}
@media only screen and (max-width: 1200px) {
  .row.slick-arrows-abs .slick-next {
    left: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .row.slick-arrows-abs .slick-next {
    left: 4.5rem;
  }
}
.slick-center .slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: initial;
  -moz-flex-flow: initial;
  flex-flow: initial;
}
.nav-tabs {
  border: 0;
}
.nav-tabs .nav-item {
  padding: 2rem 1rem;
  display: block;
  font-size: 1.5rem;
  line-height: 1.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  color: #333;
  white-space: nowrap;
  text-align: center;
  font-weight: 400;
  border-top: 4px solid transparent;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 1200px) {
  .nav-tabs .nav-item {
    font-size: calc(0.735rem + 1.02vw);
  }
}
.nav-tabs .nav-item:hover {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.nav-tabs .nav-item.active {
  border-color: #0ecaaa;
  background: #fff;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.tab-content {
  background: transparent;
  padding: 2rem;
}
.fa-stack {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .fa-stack {
    font-size: calc(0.735rem + 1.02vw);
  }
}
.fa-stack .fa-stack-2x {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.fa-stack:hover .fa-stack-2x {
  color: #f5113e !important;
}
.link-8p {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.link-8p:hover,
.link-8p:focus,
.link-8p:active {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  color: #e24986 !important;
}
.pagination .page-link {
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background: none;
  color: #333;
  padding: 0;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 1px solid transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.pagination .page-link:focus {
  background: #f7f7f7;
}
.pagination .page-link:hover {
  background: #f7f7f7;
  border-color: #eaeaea;
}
.pagination .page-item.active .page-link {
  background: #f7f7f7;
  border-color: #999;
  color: #333;
}
.pagination .page-item + .page-item {
  margin-left: 0.25rem;
}
.badge {
  padding: 0.5rem 1rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
.badge-light {
  background: #f7f7f7;
  color: #0ecaaa;
}
a.badge-light:hover,
a.badge-light:focus {
  background: #0ecaaa;
  color: #fff;
}
.modal {
  padding-right: 0 !important;
  overflow: auto;
}
.modal::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #ccc;
}
.modal::-webkit-scrollbar-thumb {
  width: 7px;
  height: 7px;
  background: #999;
}
.modal-backdrop {
  background: #000;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 99990;
}
.modal-backdrop.show {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  .modal-dialog {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.modal .modal-body {
  padding-right: 1rem;
  padding-left: 1rem;
}
.modal-content {
  border: 0;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 3rem;
}
@media only screen and (max-width: 992px) {
  .modal-content {
    padding: 1.5rem;
  }
}
.modal .close {
  color: inherit;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  -webkit-opacity: 1 !important;
  opacity: 1 !important;
  font-size: 1rem;
  text-shadow: none !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-border-top-right-radius: 0.5rem;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0.5rem;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0.5rem;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0.5rem;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0;
  pointer-events: all;
}
@media (max-width: 1200px) {
  .modal .close {
    font-size: calc(0.685rem + 0.42vw);
  }
}
.modal .close:hover {
  background: #f5113e;
  color: #fff;
}
.modal .hello {
  line-height: 1;
}
.modal-side {
  display: flex !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden !important;
  height: 100% !important;
  padding: 0 !important;
}
.modal-side.show {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  visibility: visible;
}
.modal-side .modal-dialog {
  margin: 0 0 0 auto;
  max-width: none !important;
  height: 100% !important;
  min-height: 0px !important;
  max-height: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
}
.modal-side .modal-content {
  width: 550px;
  max-width: 75vw;
  height: 100%;
  padding: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.show.modal-side .modal-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (max-width: 576px) {
  .modal-side .modal-content {
    max-width: 100vw;
  }
}
.modal-side .modal-header {
  padding: 1rem 2rem;
  background: #f7f7f7;
  border: 0;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.modal-side .modal-header .close {
  margin: -1rem auto -1rem -2rem;
}
.modal-side .modal-body {
  padding: 4rem;
  width: 100%;
  overflow: hidden;
}
.modal-side .modal-body .slick-modal {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .modal-side .modal-body {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.modal-overlay .modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.modal-overlay .modal-content {
  background: none;
}
.modal-overlay .close {
  top: 1.5rem;
  right: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .modal-overlay .close {
    top: 0.25rem;
    right: 0.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .modal-xl {
    max-width: calc(100% - 4rem);
    max-width: -moz-calc(100% - 4rem);
    max-width: -webkit-calc(100% - 4rem);
  }
}
@media only screen and (max-width: 768px) {
  .modal-xl {
    max-width: calc(100% - 2rem);
    max-width: -moz-calc(100% - 2rem);
    max-width: -webkit-calc(100% - 2rem);
  }
}
.dropdown-menu {
  min-width: 20rem;
  padding: 1.25rem;
  -webkit-border-radius: 0.375rem !important;
  -moz-border-radius: 0.375rem !important;
  border-radius: 0.375rem !important;
  border: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 0 1.5rem rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 1.5rem rgba(0,0,0,0.15);
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.15);
}
.dropright .dropdown-menu {
  margin-left: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .dropdown-menu {
    min-width: 10rem;
  }
}
.dropdown-header {
  padding: 0;
  font-size: 1.5rem;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  white-space: normal;
  margin-bottom: 1rem;
}
.dropdown-item {
  font-family: 'Montserrat', sans-serif;
  padding: 0.4rem 1rem;
  line-height: 1.5;
  font-size: 14px;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.dropdown-item:hover {
  background: #f7f7f7;
}
.dropdown-item.active,
.dropdown-item:active {
  background: #0ecaaa;
}
.dropdown-item + .dropdown-item {
  margin-top: 0.25rem;
}
.dropdown-item-primary:hover {
  background: rgba(14,202,170,0.1);
  color: #0ecaaa;
}
.dropdown-item-danger:hover {
  background: rgba(245,17,62,0.1);
  color: #f5113e;
}
.dropdown-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.breadcrumb-white {
  background: none;
}
.breadcrumb-white .breadcrumb-item {
  color: rgba(255,255,255,0.75);
}
.breadcrumb-white .breadcrumb-item a:hover,
.breadcrumb-white .breadcrumb-item.active {
  color: #fff;
}
.breadcrumb-white .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255,255,255,0.75);
}
.list-number {
  counter-reset: listNumber;
}
.list-number li {
  position: relative;
  padding: 2rem 0 2rem 2rem;
}
.list-number li:before {
  counter-increment: listNumber;
  content: counter(listNumber);
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 8rem;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  z-index: -1;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media (max-width: 1200px) {
  .list-number li:before {
    font-size: calc(1.385rem + 8.82vw);
  }
}
.list-number li + li {
  border-top: 2px solid #f7f7f7;
}
.list-group {
  position: relative;
}
.list-group .line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #0ecaaa;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 768px) {
  .list-group.list-group-horizontal {
    overflow: auto;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .list-group.list-group-horizontal .line {
    display: none;
  }
  .list-group.list-group-horizontal .list-group-item.active {
    border-bottom-color: #0ecaaa !important;
  }
}
.list-group-item {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background: none !important;
  color: #333;
  padding: 1rem 2rem;
  border: 0;
  border-bottom: 2px solid #f7f7f7 !important;
  z-index: 0 !important;
}
.list-group-item:hover {
  color: #0ecaaa;
}
.list-group-item.active {
  color: #0ecaaa;
}
.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.input-group label {
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  left: 1rem;
  margin: auto;
  padding: 0 0.5rem;
  background: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input-group.input-number {
  width: auto;
}
.input-group.input-number .btn-transparent:hover {
  background: rgba(0,0,0,0.1);
}
.input-group.input-number .form-control {
  width: 3rem;
  height: auto;
  padding: 0;
  text-align: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-color: transparent;
  background: none;
}
@media only screen and (max-width: 768px) {
  .input-group.input-number .btn-square,
  .input-group.input-number .form-control {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
  .input-group.input-number .btn-square {
    font-size: 0.75rem;
  }
}
.input-group-icon i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  line-height: 3.5rem;
  padding-left: 1rem;
}
@media only screen and (max-width: 992px) {
  .input-group-icon i {
    line-height: 3rem;
  }
}
.input-group-icon .form-control {
  padding-left: 3rem;
  -webkit-border-radius: 0.375rem !important;
  -moz-border-radius: 0.375rem !important;
  border-radius: 0.375rem !important;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input-group.button-group {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .input-group.button-group input {
    padding-right: 11rem;
  }
  .form-pesquisa .input-group.button-group input {
    padding-right: 8rem;
  }
  .input-group.button-group button {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 992px) {
  .input-group.button-group button {
    margin-top: 1rem;
    width: 100%;
  }
}
.input-group.comment {
  padding: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: initial;
  -moz-flex-flow: initial;
  flex-flow: initial;
  background: #f7f7f7;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.input-group.comment .ratio-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.input-group.comment input,
.input-group.comment textarea {
  padding: 0 1rem 0 0;
  width: calc(100% - 3rem);
  width: -moz-calc(100% - 3rem);
  width: -webkit-calc(100% - 3rem);
  height: auto;
  background: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 1;
}
.input-group.comment textarea {
  padding: 1rem;
  height: 5rem;
  min-height: 3rem;
  max-height: 8rem;
}
.input-group.comment-lg {
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
  padding: 0;
}
.input-group.comment-lg .ratio-img {
  margin: 0.5rem 0 0 0.5rem;
}
.input-group.comment-lg input,
.input-group.comment-lg textarea {
  width: calc(100% - 2.5rem);
  width: -moz-calc(100% - 2.5rem);
  width: -webkit-calc(100% - 2.5rem);
}
.form-control {
  height: 3.5rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #dedede;
}
.form-control:focus {
  border-color: #0ecaaa;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #0ecaaa !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2307BB3D' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #f5113e !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23C71818' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23C71818' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}
textarea.form-control {
  min-height: 3.5rem;
  height: 9rem;
  max-height: 18rem;
}
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid,
.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  background-position: top 1rem right 1rem;
}
@media only screen and (max-width: 992px) {
  .form-control {
    height: 3rem;
  }
}
.valid-feedback {
  color: #0ecaaa;
  padding-left: 1.5rem;
}
.invalid-feedback {
  color: #f5113e;
  padding-left: 1.5rem;
}
.custom-range {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}
.custom-range::-ms-track {
  width: 100%;
  border-color: transparent;
  color: transparent;
  height: 2px;
  background: #0ecaaa;
  margin: 0;
}
.custom-range::-moz-range-track {
  width: 100%;
  border-color: transparent;
  color: transparent;
  height: 2px;
  background: #0ecaaa;
  margin: 0;
}
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  border-color: transparent;
  color: transparent;
  height: 2px;
  background: #0ecaaa;
  margin: 0;
}
.custom-range::-webkit-slider-thumb {
  cursor: grab;
  -webkit-appearance: none;
  height: 1rem;
  background: #0ecaaa !important;
  margin: 0;
  margin-top: -0.5rem;
  outline: none !important;
}
.custom-range::-moz-range-thumb {
  cursor: grab;
  -webkit-appearance: none;
  height: 1rem;
  background: #0ecaaa !important;
  margin: 0;
  margin-top: -0.5rem;
  outline: none !important;
}
.custom-range::-ms-thumb {
  cursor: grab;
  -webkit-appearance: none;
  height: 1rem;
  background: #0ecaaa !important;
  margin: 0;
  margin-top: -0.5rem;
  outline: none !important;
}
.custom-range:active::-webkit-slider-thumb {
  cursor: grabbing;
}
.custom-range:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 0.75rem rgba(14,202,170,0.2), 0 0 0 1.5rem rgba(14,202,170,0.1);
  -moz-box-shadow: 0 0 0 0.75rem rgba(14,202,170,0.2), 0 0 0 1.5rem rgba(14,202,170,0.1);
  box-shadow: 0 0 0 0.75rem rgba(14,202,170,0.2), 0 0 0 1.5rem rgba(14,202,170,0.1);
}
.custom-radio,
.custom-checkbox {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.custom-radio .custom-control-label,
.custom-checkbox .custom-control-label {
  margin: auto;
  border: 1.5px solid #f7f7f7;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.custom-radio .custom-control-label[for],
.custom-checkbox .custom-control-label[for],
.custom-radio .custom-control-label[data-for],
.custom-checkbox .custom-control-label[data-for] {
  cursor: pointer;
}
.custom-radio .custom-control-label:hover,
.custom-checkbox .custom-control-label:hover {
  color: #333;
  background: #eaeaea;
  border-color: #eaeaea;
}
.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
  top: 0.2rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid #f7f7f7;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.custom-radio .custom-control-label:before,
.custom-checkbox .custom-control-label:before,
.custom-radio .custom-control-label:after,
.custom-checkbox .custom-control-label:after {
  display: none;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label {
  border-color: #0ecaaa;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background: #68caf5;
  border-color: #68caf5;
}
.custom-radio + .custom-control,
.custom-checkbox + .custom-control {
  margin-left: 1rem;
}
.custom-radio.transparent .custom-control-label,
.custom-checkbox.transparent .custom-control-label {
  background: none;
  border-color: transparent;
}
.custom-radio.transparent .custom-control-label:hover,
.custom-checkbox.transparent .custom-control-label:hover {
  background: #f7f7f7;
  border-color: #f7f7f7;
}
.custom-radio.transparent .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.transparent .custom-control-input:checked ~ .custom-control-label {
  background: #f7f7f7;
  border-color: #0ecaaa;
}
.custom-radio.number,
.custom-checkbox.number {
  position: relative;
  text-align: center;
  margin-left: 0;
}
.custom-radio.number .custom-control-label,
.custom-checkbox.number .custom-control-label {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.4rem;
  padding: 0;
  background: none;
  border-color: #333;
}
.custom-radio.number .custom-control-label i,
.custom-checkbox.number .custom-control-label i {
  font-size: 1rem;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.custom-radio.number .custom-control-text,
.custom-checkbox.number .custom-control-text {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  font-family: 'Montserrat', sans-serif;
  max-width: 4rem;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.5rem;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.custom-radio.number .custom-control-text[for],
.custom-checkbox.number .custom-control-text[for] {
  cursor: pointer;
}
.custom-radio.number:hover .custom-control-label,
.custom-checkbox.number:hover .custom-control-label {
  background: rgba(51,51,51,0.1);
}
.custom-radio.number:hover .custom-control-label i,
.custom-checkbox.number:hover .custom-control-label i {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.custom-radio.number .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number .custom-control-input:checked ~ .custom-control-label {
  background: #333;
  border-color: #333;
  color: #fff;
}
.custom-radio.number .custom-control-input:checked ~ .custom-control-label i,
.custom-checkbox.number .custom-control-input:checked ~ .custom-control-label i {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.custom-radio.number-sm .custom-control-label,
.custom-checkbox.number-sm .custom-control-label {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.custom-radio.number.theme-white .custom-control-label,
.custom-checkbox.number.theme-white .custom-control-label {
  color: #fff;
  border-color: #fff;
}
.custom-radio.number.theme-white:hover .custom-control-label,
.custom-checkbox.number.theme-white:hover .custom-control-label {
  background: rgba(255,255,255,0.1);
}
.custom-radio.number.theme-white .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-white .custom-control-input:checked ~ .custom-control-label {
  color: #333;
  background: #fff;
  border-color: #fff;
}
.custom-radio.number.theme-1 .custom-control-label,
.custom-checkbox.number.theme-1 .custom-control-label {
  color: #0ecaaa;
  border-color: #0ecaaa;
}
.custom-radio.number.theme-1:hover .custom-control-label,
.custom-checkbox.number.theme-1:hover .custom-control-label {
  background: rgba(14,202,170,0.1);
}
.custom-radio.number.theme-1 .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-1 .custom-control-input:checked ~ .custom-control-label {
  background: #0ecaaa;
  border-color: #0ecaaa;
}
.custom-radio.number.theme-2 .custom-control-label,
.custom-checkbox.number.theme-2 .custom-control-label {
  color: #68caf5;
  border-color: #68caf5;
}
.custom-radio.number.theme-2:hover .custom-control-label,
.custom-checkbox.number.theme-2:hover .custom-control-label {
  background: rgba(104,202,245,0.1);
}
.custom-radio.number.theme-2 .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-2 .custom-control-input:checked ~ .custom-control-label {
  background: #68caf5;
  border-color: #68caf5;
}
.custom-radio.number.theme-3 .custom-control-label,
.custom-checkbox.number.theme-3 .custom-control-label {
  color: #ff78d0;
  border-color: #ff78d0;
}
.custom-radio.number.theme-3:hover .custom-control-label,
.custom-checkbox.number.theme-3:hover .custom-control-label {
  background: rgba(255,120,208,0.1);
}
.custom-radio.number.theme-3 .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-3 .custom-control-input:checked ~ .custom-control-label {
  background: #ff78d0;
  border-color: #ff78d0;
}
.custom-radio.number.theme-4 .custom-control-label,
.custom-checkbox.number.theme-4 .custom-control-label {
  color: #ffaf12;
  border-color: #ffaf12;
}
.custom-radio.number.theme-4:hover .custom-control-label,
.custom-checkbox.number.theme-4:hover .custom-control-label {
  background: rgba(255,175,18,0.1);
}
.custom-radio.number.theme-4 .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-4 .custom-control-input:checked ~ .custom-control-label {
  background: #ffaf12;
  border-color: #ffaf12;
}
.custom-radio.number.theme-5 .custom-control-label,
.custom-checkbox.number.theme-5 .custom-control-label {
  color: #861acf;
  border-color: #861acf;
}
.custom-radio.number.theme-5:hover .custom-control-label,
.custom-checkbox.number.theme-5:hover .custom-control-label {
  background: rgba(134,26,207,0.1);
}
.custom-radio.number.theme-5 .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-5 .custom-control-input:checked ~ .custom-control-label {
  background: #861acf;
  border-color: #861acf;
}
.custom-radio.number.theme-6 .custom-control-label,
.custom-checkbox.number.theme-6 .custom-control-label {
  color: #97f311;
  border-color: #97f311;
}
.custom-radio.number.theme-6:hover .custom-control-label,
.custom-checkbox.number.theme-6:hover .custom-control-label {
  background: rgba(151,243,17,0.1);
}
.custom-radio.number.theme-6 .custom-control-input:checked ~ .custom-control-label,
.custom-checkbox.number.theme-6 .custom-control-input:checked ~ .custom-control-label {
  background: #97f311;
  border-color: #97f311;
}
.custom-radio.number.label-right .custom-control-text,
.custom-checkbox.number.label-right .custom-control-text {
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 0;
  padding-left: 0.3rem;
  max-width: 8rem;
}
.table tr {
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.table td,
.table th {
  padding: 1rem;
  vertical-align: middle;
}
.table.table-hover tbody tr:hover {
  background: #f7f7f7;
}
.table + table,
.table-responsive + .table-responsive {
  padding-top: 1rem;
}
.limit-table {
  max-height: 450px;
  overflow-y: auto;
  padding-right: 1rem;
}
.limit-table::-webkit-scrollbar {
  width: 7px;
  background: #ccc;
}
.limit-table::-webkit-scrollbar-track {
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.limit-table::-webkit-scrollbar-thumb {
  background: #999;
}
@media only screen and (max-width: 576px) {
  .modal .limit-table {
    margin-right: -2.5rem;
    margin-left: -2.5rem;
  }
}
.ratio-img {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-size: cover;
}
.ratio-img:before {
  display: block;
  content: "";
}
.ratio-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: none;
  max-height: none;
}
.ratio-img img.wide {
  height: 100%;
}
.ratio-img img.tall {
  width: 100%;
}
.ratio-img-fit img.wide {
  height: auto;
  width: 100%;
}
.ratio-img-fit img.tall {
  width: auto;
  height: 100%;
}
.ratio-img-21by9::before {
  padding-top: 42.857143%;
}
.ratio-img-2by1::before {
  padding-top: 50%;
}
.ratio-img-16by9::before {
  padding-top: 56.25%;
}
.ratio-img-4by3::before {
  padding-top: 75%;
}
.ratio-img-1by1::before {
  padding-top: 100%;
}
.ratio-img-3by4::before {
  padding-top: 133.3333%;
}
.ratio-img-9by16::before {
  padding-top: 177.7778%;
}
.ratio-img-1by2::before {
  padding-top: 200%;
}
.ratio-img-9by21::before {
  padding-top: 233.3333%;
}
.ratio-img-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.ratio-img-avatar-1 {
  color: #0ecaaa;
  background: rgba(14,202,170,0.25);
}
a.ratio-img-avatar-1:hover {
  color: #fff;
  background: #0ecaaa;
}
.ratio-img-avatar-2 {
  color: #68caf5;
  background: rgba(104,202,245,0.25);
}
a.ratio-img-avatar-2:hover {
  color: #fff;
  background: #68caf5;
}
.ratio-img-avatar-3 {
  color: #ff78d0;
  background: rgba(255,120,208,0.25);
}
a.ratio-img-avatar-3:hover {
  color: #fff;
  background: #ff78d0;
}
.ratio-img-avatar-4 {
  color: #ffaf12;
  background: rgba(255,175,18,0.25);
}
a.ratio-img-avatar-4:hover {
  color: #fff;
  background: #ffaf12;
}
.ratio-img-avatar-5 {
  color: #861acf;
  background: rgba(134,26,207,0.25);
}
a.ratio-img-avatar-5:hover {
  color: #fff;
  background: #861acf;
}
.ratio-img-avatar-6 {
  color: #97f311;
  background: rgba(151,243,17,0.25);
}
a.ratio-img-avatar-6:hover {
  color: #fff;
  background: #97f311;
}
.circle-icon {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #0ecaaa;
  color: #fff;
  position: relative;
  z-index: 0;
}
.circle-icon i {
  line-height: -1;
}
.circle-icon-hover {
  color: #0ecaaa;
  background: none;
}
.circle-icon-hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
  background: #0ecaaa;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.circle-icon-hover:hover {
  color: #fff !important;
}
.circle-icon-hover:hover:before {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.circle-icon-sm {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.6rem;
  font-size: 1rem;
  background: #f7f7f7;
  color: #333;
}
.circle-icon-sm:hover {
  background: #0ecaaa;
  color: #fff;
}
.filters-list {
  width: 100%;
  position: relative;
  padding: 0.25rem 0.5rem;
}
.filters-list:before,
.filters-list:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 5rem;
  bottom: 0.3rem;
  bottom: calc(0.25rem + 1px);
  bottom: -moz-calc(0.25rem + 1px);
  bottom: -webkit-calc(0.25rem + 1px);
  z-index: 1;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(left, #fff, rgba(255,255,255,0));
  background-image: -moz-linear-gradient(left, #fff, rgba(255,255,255,0));
  background-image: -ms-linear-gradient(left, #fff, rgba(255,255,255,0));
  background-image: -o-linear-gradient(left, #fff, rgba(255,255,255,0));
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.filters-list:after {
  left: auto;
  right: 0.4rem;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.filters-list.left:before {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.filters-list.right:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.filters-list.left.right:before,
.filters-list.left.right:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.filters-list .filters-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: initial;
  -moz-flex-flow: initial;
  flex-flow: initial;
  display: inline-flex;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.filters-list .filters-content:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0.25rem;
  left: 0;
  height: 2px;
  background: #fff;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
:hover.filters-list .filters-content:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.filters-list .filters-content::-webkit-scrollbar {
  height: 1px;
  background: rgba(0,0,0,0.05);
}
.filters-list .filters-content::-webkit-scrollbar-track {
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
}
.filters-list .filters-content::-webkit-scrollbar-thumb {
  background: #999;
}
.card {
  background: #fff;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding: 2.5rem;
  border: 2px solid #f7f7f7;
}
.card-border {
  border: 2px solid #f7f7f7;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
}
@media only screen and (max-width: 768px) {
  .card {
    padding: 2rem;
  }
}
.accordion .collapsing {
  overflow: visible;
}
.accordion .card {
  padding: 1.5rem 2rem;
}
.accordion .card:first-child:last-child {
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
  border-bottom: 2px solid #f7f7f7 !important;
  padding-bottom: 0rem;
}
.accordion .card + .card {
  margin-top: -1.5rem;
}
.accordion .card:last-child {
  padding-bottom: 0;
}
.accordion .btn-accordion {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  display: block;
  width: calc(100% + 4rem);
  width: -moz-calc(100% + 4rem);
  width: -webkit-calc(100% + 4rem);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: -1.5rem -2rem 0 !important;
  padding: 1.5rem 4rem 1.5rem 2rem;
  text-align: left;
}
@media (max-width: 1200px) {
  .accordion .btn-accordion {
    font-size: calc(0.685rem + 0.42vw);
  }
}
.accordion .btn-accordion:after {
  content: '\f078';
  font-family: 'Font Awesome\ 5 Pro';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #333;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  transition: transform 0.4s;
}
.accordion .btn-accordion:not(.collapsed) {
  color: #0ecaaa;
}
.accordion .btn-accordion:not(.collapsed):after {
  -webkit-transform: translateY(-50%) scale(1, -1);
  -moz-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
}
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 0;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  color: #333;
  background: #f7f7f7;
  outline: none !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:focus,
.btn:active {
  color: #333;
  -webkit-box-shadow: 0 0 1rem rgba(51,51,51,0.4);
  -moz-box-shadow: 0 0 1rem rgba(51,51,51,0.4);
  box-shadow: 0 0 1rem rgba(51,51,51,0.4);
}
.btn:hover {
  color: #fff;
  background: #333;
}
.btn-sm {
  padding: 0.4rem 0.75rem;
  font-size: 0.75rem;
}
.btn-lg {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.btn-square {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.btn-square.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.btn-square .fa-heart {
  -webkit-transition: font-weight 0.4s;
  -moz-transition: font-weight 0.4s;
  transition: font-weight 0.4s;
}
.btn-square:hover .fal.fa-heart {
  font-weight: 500;
}
.btn-square:hover .far.fa-heart {
  font-weight: 700;
}
.btn-border {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1.5px #f7f7f7 inset;
  -moz-box-shadow: 0 0 0 1.5px #f7f7f7 inset;
  box-shadow: 0 0 0 1.5px #f7f7f7 inset;
}
.btn-border:focus,
.btn-border:active {
  background: #333 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 1.5px #333 inset !important;
  -moz-box-shadow: 0 0 0 1.5px #333 inset !important;
  box-shadow: 0 0 0 1.5px #333 inset !important;
}
.btn-border:hover {
  background: #f7f7f7;
  color: #333;
}
.btn-primary {
  background: #0ecaaa;
  color: #fff;
}
.btn-primary:focus,
.btn-primary:active {
  background: #0b9a82 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 1rem rgba(14,202,170,0.4) !important;
  -moz-box-shadow: 0 0 1rem rgba(14,202,170,0.4) !important;
  box-shadow: 0 0 1rem rgba(14,202,170,0.4) !important;
}
.btn-primary:hover {
  background: #0cb296;
  color: #fff;
}
.btn-outline-primary {
  background: transparent;
  color: #0ecaaa;
  -webkit-box-shadow: 0 0 0 1.5px #0ecaaa inset;
  -moz-box-shadow: 0 0 0 1.5px #0ecaaa inset;
  box-shadow: 0 0 0 1.5px #0ecaaa inset;
}
.btn-outline-primary:focus,
.btn-outline-primary:active {
  -webkit-box-shadow: 0 0 0 1.5px #0ecaaa inset !important;
  -moz-box-shadow: 0 0 0 1.5px #0ecaaa inset !important;
  box-shadow: 0 0 0 1.5px #0ecaaa inset !important;
  background: #0ecaaa !important;
  color: #fff !important;
}
.btn-outline-primary:hover {
  -webkit-box-shadow: 0 0 0 1.5px #0ecaaa inset;
  -moz-box-shadow: 0 0 0 1.5px #0ecaaa inset;
  box-shadow: 0 0 0 1.5px #0ecaaa inset;
  background: rgba(14,202,170,0.1);
  color: #0ecaaa;
}
.btn-transparent {
  background: none;
  color: inherit;
}
.btn-transparent:hover {
  background: #f7f7f7;
  color: #333;
}
.btn-transparent:focus,
.btn-transparent:active {
  color: #333;
  background: #eaeaea;
  -webkit-box-shadow: 0 0 1rem rgba(247,247,247,0.4);
  -moz-box-shadow: 0 0 1rem rgba(247,247,247,0.4);
  box-shadow: 0 0 1rem rgba(247,247,247,0.4);
}
.text-white .btn-transparent:hover {
  background: rgba(255,255,255,0.25);
  color: #fff;
}
.text-white .btn-transparent:focus,
.text-white .btn-transparent:active {
  background: rgba(255,255,255,0.4);
  color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(255,255,255,0.4);
  -moz-box-shadow: 0 0 1rem rgba(255,255,255,0.4);
  box-shadow: 0 0 1rem rgba(255,255,255,0.4);
}
.btn-facebook {
  padding: 1rem 2rem;
  background: #4267b2;
  color: #fff;
}
.btn-facebook:focus,
.btn-facebook:active {
  background: #34518d !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 1rem rgba(66,103,178,0.4) !important;
  -moz-box-shadow: 0 0 1rem rgba(66,103,178,0.4) !important;
  box-shadow: 0 0 1rem rgba(66,103,178,0.4) !important;
}
.btn-facebook:hover {
  background: #3b5c9f;
}
.btn-danger {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-danger:focus,
.btn-danger:active {
  background: #f5113e !important;
  color: #fff !important;
}
.btn-danger:hover {
  background: #f7f7f7;
  color: #f5113e;
}
.btn + .btn {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}
@media only screen and (max-width: 768px) {
  .btn + .btn {
    margin-left: 0;
  }
}
@media only screen and (max-width: 352px) {
  .btn + .btn {
    margin-top: 1rem;
  }
}
.btn:first-child {
  margin-top: 0;
}
.btn:last-child {
  margin-bottom: 0;
}
.title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 1rem auto 1rem;
}
.title + .btn,
.title:first-child {
  margin-top: 0;
}
.title:last-child {
  margin-bottom: 0;
}
.title-1 {
  font-size: 4.5rem;
}
@media (max-width: 1200px) {
  .title-1 {
    font-size: calc(1.0350000000000001rem + 4.62vw);
  }
}
.title-2 {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .title-2 {
    font-size: calc(0.735rem + 1.02vw);
  }
}
.title-3 {
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .title-3 {
    font-size: calc(0.685rem + 0.42vw);
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 99999;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: initial;
  -moz-flex-flow: initial;
  flex-flow: initial;
  display: none !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.loader img {
  max-width: 25rem;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: rotate !important;
  -moz-animation-name: rotate !important;
  animation-name: rotate !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.fast.loader img {
  display: none;
}
.loading .loader img,
.leaving .loader img {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  filter: blur(0);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.loaded:not(.leaving) .loader {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 0.4s;
}
.loaded:not(.leaving) .loader img {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
.loaded:not(.leaving) .loader.fast {
  transition-delay: 0s;
}
.leaving .loader {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.leaving .loader img {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#banner {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 6.5rem);
  max-height: -moz-calc(100vh - 6.5rem);
  max-height: -webkit-calc(100vh - 6.5rem);
  background: url("../images/banner.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  transition: 0s !important;
}
#banner:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #333;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#banner .content {
  padding: 4rem 0 8rem;
}
.body-content {
  position: relative;
  z-index: 2;
  width: 100%;
  background: #fff;
  margin-top: calc(100vh - 6.5rem);
  margin-top: -moz-calc(100vh - 6.5rem);
  margin-top: -webkit-calc(100vh - 6.5rem);
}
#topo {
  z-index: 50;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 0rem 0rem 0rem rgba(0,0,0,0);
  -moz-box-shadow: 0 0rem 0rem 0rem rgba(0,0,0,0);
  box-shadow: 0 0rem 0rem 0rem rgba(0,0,0,0);
}
#topo.is-sticky .container-fluid {
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
  box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
}
@media only screen and (max-width: 992px) {
  #topo .custom-control-text {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #topo .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media only screen and (max-width: 576px) {
  #topo .btn-lg {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.item-foto {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin: 4px;
}
.item-foto:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 0 #edfffc inset;
  -moz-box-shadow: 0 0 0 0 #edfffc inset;
  box-shadow: 0 0 0 0 #edfffc inset;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto .img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto .img:before,
.item-foto .img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 60%;
  background-color: rgba(0,0,0,0.75);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.75)), to(rgba(255,255,255,0.001)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.75), rgba(255,255,255,0.001));
  background: -moz-linear-gradient(top, rgba(0,0,0,0.75), rgba(255,255,255,0.001));
  background: -ms-linear-gradient(top, rgba(0,0,0,0.75), rgba(255,255,255,0.001));
  background: -o-linear-gradient(top, rgba(0,0,0,0.75), rgba(255,255,255,0.001));
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-75%);
  transform: translateY(-75%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto .img:after {
  top: auto;
  bottom: 0;
  height: 40%;
  background-color: rgba(255,255,255,0.001);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.001)), to(rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.001), rgba(0,0,0,0.5));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.001), rgba(0,0,0,0.5));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.001), rgba(0,0,0,0.5));
  background: -o-linear-gradient(top, rgba(255,255,255,0.001), rgba(0,0,0,0.5));
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  transform: translateY(75%);
}
.item-foto .img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.item-foto .top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto .top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto .bottom-left {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto .bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.item-foto:hover .img img {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.item-foto:hover .img:before,
.item-foto:hover .img:after,
.item-foto:hover .top-left,
.item-foto:hover .top-right,
.item-foto:hover .bottom-left,
.item-foto:hover .bottom-right {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.item-foto.active:before {
  -webkit-box-shadow: 0 0 0 20px #edfffc inset;
  -moz-box-shadow: 0 0 0 20px #edfffc inset;
  box-shadow: 0 0 0 20px #edfffc inset;
}
.item-foto.active .top-left {
  top: 2rem;
  left: 2rem;
}
.item-foto.active .top-right {
  top: 2rem;
  right: 2rem;
}
.item-foto.active .bottom-left {
  bottom: 2rem;
  left: 2rem;
}
.item-foto.active .bottom-right {
  bottom: 2rem;
  right: 2rem;
}
.item-foto.active:not(:hover) .top-left {
  top: 0rem;
  left: 0rem;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.item-foto.active:not(:hover) .top-left > *:not(.custom-control),
.item-foto.active:not(:hover) .top-left .custom-control .custom-control-text,
.item-foto.active:not(:hover) .top-left .custom-control input:not(:checked) ~ .custom-control-label {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  visibility: hidden;
}
.item-foto.static {
  z-index: 2;
}
.fixed-comment {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 2;
}
.item-album {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.item-album .ratio-img {
  width: 160px;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem;
  background: #000;
}
.item-album .ratio-img img {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.item-album .ratio-img:after {
  content: '\f302';
  font-family: 'Font Awesome\ 5 Pro';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.item-album span {
  display: block;
  padding: 0.5rem 0rem;
}
.item-album:hover .ratio-img img {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.item-album:hover .ratio-img:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
