// Imports
	@import _rupture
	@import _rfs
	@import _variables
	@import _mixins
// Base			
	*
		margin: 0px
		padding: 0px
		list-style: none
		text-decoration: none
		outline: none !important
	html
		height 100%
	body
		font-family ff_default
		font-weight fw_default
		overflow-x hidden
		rfs(fz_default)
		color: color_text
		position relative
		text-rendering: optimizeLegibility
		&.modal-open
			overflow hidden
			padding-right 0 !important
	main
		position relative
		display block
		background #fff
	section
		position relative
	p
		line-height 1.5
		margin-bottom 0.75rem
		&:last-child
			margin-bottom 0
	a 
		color: currentColor
		word-wrap: break-word
		transition all .4s ease
		&:hover
		&:focus
			text-decoration: none
			color: color_1
		&[onclick]
			cursor pointer
	ul
		margin-bottom 0
	label
	h1
	h2
	h3 
		font-weight: fw_default
		margin: 0
		line-height 1.3
	label
		margin-bottom 0.5rem
	strong
		bold()
	small
		small()
	hr
		border-width 1px
		border-color #ccc
		position relative
		z-index 0
		&.dark
			border-color rgba(#131330,.5)
	*::-moz-selection 
		background: rgba(color_1, .75)
		color: #FFF
		text-shadow none !important
	*::selection 
		background: rgba(color_1, .75)
		color: #FFF
		text-shadow none !important
	.display-1
		rfs(fz_3x)
		font-weight bold
		color color_3
		.text-white &
			color inherit
	.display-2
		rfs(fz_2x)
		color color_3
		.text-white &
			color inherit
	.display-3
	.display-4
	.display-5
	.display-6
		rfs(fz_1x)
		color color_3
		.text-white &
			color inherit
	.text-muted
		color color_4 !important
		a&:hover
			color color_1 !important
	.text-success
		color color_success !important
	.text-danger
		color color_danger !important
	.text-underline
		text-decoration underline !important
	.bg-light
		background color_light !important
	.py-section
		padding-top 9rem
		padding-bottom 9rem
		&-sm
			padding-top 5rem
			padding-bottom 5rem
		+below(sm)
			padding-top 5rem
			padding-bottom 5rem
	.pt-section
		padding-top 10rem
		&-sm
			padding-top 5rem
		+below(sm)
			padding-top 5rem
	.pb-section
		padding-bottom 10rem
		&-sm
			padding-bottom 5rem
		+below(sm)
			padding-bottom 5rem
	.border-top
		border-top 1px solid #ccc !important
	.border-right
		border-right 1px solid #ccc !important
	.border-bottom
		border-bottom 1px solid #ccc !important
	.border-left
		border-left 1px solid #ccc !important	
	.lh-1
		line-height 1
	.h-0
		height 0 !important
	.h-100vh
		height 100vh
	.w-0
		width 0 !important
	.w-100vw
		width 100vw
	.translateY-n50p
		transform translateY(-50%)
	.maw-320
		max-width 320px
	.minw-4r
		min-width 2rem
	.minw-6r
		min-width 6rem
	.minw-7r
		min-width 7rem
		+below(xs)
			min-width 6rem
		+below(xxs)
			min-width 5rem
	.minw-8r
		min-width 8rem
	.minw-10r
		min-width 10rem
		+below(xs)
			min-width 8rem
	.minw-12r
		min-width 12rem
	.ovh
		overflow hidden
	.wow
		visibility: hidden
	.wow-v
		visibility: visible !important
	.fz-0
		font-size 0
	.z-1
		z-index 1
	.z-2
		z-index 2
	.z-3
		z-index 3
	.ml-n4r
		margin-left -4rem
	.inblock
		inblock()
	.box-shadow
		box-shadow 0 0 45px -10px rgba(0,0,0,.25)
	.rounded
		bdr(bdr_1x !important)
	.flex-list
		display-flex(flex-start, flex-start, row wrap)
	.slick-stretch
		.slick-track
			display-flex(stretch,flex-start, row nowrap)
		.slick-slide > *
			height 100%
	.slick-track
	.slick-list
	.slick-slide
		text-rendering optimizeLegibility
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
	.slick-slider:not(.slick-hide)
		.slick-list
			overflow visible !important
		.slick-slide
			opac(0)
			visibility hidden
			transition all 0.4s
			.slick-visible &
				opac(.2)
				visibility visible
			.slick-visible-100 &
			&.slick-active
				visibility visible
				opac(1)
	.slick-hide
		position relative
		&:before
		&:after
			content ''
			absolute top left -1px bottom
			width 4rem
			z-index 1
			h-gradient(#fff, rgba(#fff,0.001))
			pointer-events none
		&:after
			left auto
			right -1px
			transform scale(-1,1)
		&.left
			&:before
				opac 0
		&.right
			&:after
				opac 0
	.slick-dots
		display: block
		width: 100%
		margin 15px 0 0
		text-align: center
		white-space nowrap
		slickDotsSize = 0.5rem
		li
			position: relative
			display: inline-block
			width: slickDotsSize
			height: slickDotsSize
			margin: 0 5px
			padding: 0
			cursor: pointer
			transition all 0.3s
			button
				display: block
				width: 100%
				height: 100%
				rfs 0
				outline: none
				border 2px solid color_5
				background none
				bdr(50%)
				transition all 0.5s
				-webkit-appearance none
				appearance none
				&:hover
					//background color_5
			&.slick-active
				button
					background: color_5
	.slick-prev
	.slick-next
		absolute top bottom right 100%
		z-index 2
		size 2.5rem
		border: none
		margin: auto
		padding: 0
		overflow: hidden
		rfs 0
		text-align center
		bdr(50%)
		background: color_light
		color color_4
		-webkit-font-smoothing: inherit
		-moz-osx-font-smoothing: inherit
		-webkit-appearance: none
		transition all .4s
		&:before
			{fa}
			content '\f104'
			rfs(fz_2x)
			font-weight 300
			line-height 2rem
		&:hover
			background darken(color_light,5)
			color color_3
		&.slick-disabled
			cursor default
			background color_light !important
			color color_4 !important
			opac 0
		.text-white &
			background #fff
			&:hover
				background color_2
				color #fff
			&.slick-disabled
				background #fff !important
	.slick-next
		right auto
		left 100%
		&:before
			content '\f105'
	.slick-arrows-up
		width 100%
		max-width inherit
		display-flex(flex-start, flex-start, column-reverse)
		.slick-list
			width 100%
		.slick-prev
		.slick-next
			position relative
			left auto
			right auto
			margin 1rem auto 2rem 0
			inblock()
		.slick-next
			margin-left 0
			position absolute
			left 5rem
			+below(md)
				left 4rem
			+below(xxs)
				left 3.5rem
	.slick-arrows-abs
		.slick-prev
		.slick-next
			absolute left top -6.5rem
			bottom auto
			right auto
			.row&
				left 1rem
			+below(md)
				top -6.25rem
			+below(sm)
				top -6rem
			+below(xs)
				top -4.5rem
		.slick-next
			left 5rem
			+below(md)
				left 4rem
			+below(xxs)
				left 3.5rem
			.row&
				left 6rem
				+below(md)
					left 5rem
				+below(xxs)
					left 4.5rem
	.slick-center
		.slick-track
			display-flex()
	.nav-tabs
		border 0
		.nav-item
			padding 2rem 1rem
			display block
			rfs(fz_2x)
			line-height 1.2
			opac .5
			color color_3
			white-space nowrap
			text-align center
			font-weight 400
			border-top 4px solid transparent
			transition all .4s
			&:hover
				opac 1
			&.active
				border-color color_1
				background #fff
				opac 1
	.tab-content
		background transparent
		padding 2rem	
	.fa-stack
		rfs(1.5rem)
		.fa-stack-2x
			transition all .4s
		&:hover
			.fa-stack-2x
				color color_danger !important
	.link-8p
		opac .5
		&:hover
		&:focus
		&:active
			opac 1
			color #E24986 !important
	.pagination
		.page-link
			size 2rem
			line-height 1.9rem
			bdr(50% !important)
			background none
			color color_text
			padding 0
			font-size 12px
			font-family ff_title
			text-align center
			border 1px solid transparent
			box-shadow none !important
			&:focus
				background color_light
			&:hover
				background color_light
				border-color darken(color_light,5)
		.page-item.active .page-link
			background color_light
			border-color color_4
			color color_text
		.page-item + .page-item
			margin-left 0.25rem
	.badge
		padding 0.5rem 1rem
		bdr bdr_2x
		&-light
			background color_light
			color color_1
			a&:hover
			a&:focus
				background color_1
				color #fff
	.modal
		padding-right 0 !important
		overflow auto
		scrollbar(#ccc,color_4)
		//z-index 99999
		&-backdrop
			background #000
			transition all .4s
			z-index 99990
			&.show
				opac .8
		&-dialog
			+below(xs)
				margin-right 1rem
				margin-left 1rem
		.modal-body
			padding-right 1rem
			padding-left 1rem
		&-content
			border 0
			bdr bdr_3x
			padding 3rem
			+below(sm)
				padding 1.5rem
		.close
			color inherit
			opac(1 !important)
			rfs 1rem
			text-shadow none !important
			transition all .4s
			absolute top right
			z-index 1
			bdres bdr_3x 0 bdr_3x 0
			pointer-events all
			&:hover
				background color_danger
				color #fff
		.hello
			line-height 1
		&-side
			display flex !important
			opac 0
			visibility hidden
			overflow hidden !important
			height 100% !important
			padding 0 !important
			&.show
				opac 1
				visibility visible
			.modal-dialog
				margin 0 0 0 auto
				max-width none !important
				height 100% !important
				min-height 0px !important
				max-height none !important
				transform none !important
			.modal-content
				width 550px
				max-width 75vw
				height 100%
				padding 0
				transform translateX(100%)
				transition all .4s
				.show&
					transform translateX(0)
				+below(xxs)
					max-width 100vw
			.modal-header
				padding 1rem 2rem
				background color_light
				border 0
				bdr()
				.close
					margin -1rem auto -1rem -2rem
			.modal-body
				padding 4rem
				width 100%
				overflow hidden
				.slick-modal
					width 100%
				+below(xs)
					padding-right 2rem
					padding-left 2rem
		&-overlay
			.modal-dialog
				max-width 100%
				height 100%
				margin 0
			.modal-content
				background none
			.close
				top 1.5rem
				right 1.5rem
				bdr 50%
				+above(sm)
					top 0.25rem
					right 0.25rem
		&-xl
			+below(md)
				-calc max-width '100% - 4rem'
			+below(xs)
				-calc max-width '100% - 2rem'
	.dropdown
		&-menu
			min-width 20rem
			padding 1.25rem
			bdr(bdr_2x !important)
			border 0
			margin-top 0.5rem
			margin-bottom 0.5rem
			box-shadow 0 0 1.5rem rgba(#000,.15)
			.dropright &
				margin-left 0.5rem
			+below(xs)
				min-width 10rem
		&-header
			padding 0
			font-size fz_2x
			color color_text
			font-family ff_title
			bold()
			white-space normal
			margin-bottom 1rem
		&-item
			font-family ff_title
			padding 0.4rem 1rem
			line-height 1.5
			font-size 14px
			bdr bdr_1x
			&:hover
				background color_light
			&.active
			&:active
				background color_1
			& + .dropdown-item
				margin-top 0.25rem
			&-primary
				&:hover
					background rgba(color_1,.1)
					color color_1
			&-danger
				&:hover
					background rgba(color_danger,.1)
					color color_danger
		&-divider
			margin-top 1rem
			margin-bottom 1rem
	.breadcrumb-white
		background none
		.breadcrumb-item
			color: rgba(255,255,255,.75)
			a:hover
			&.active
				color: #fff
			& + .breadcrumb-item::before
				color rgba(255,255,255,.75)
	.list-number
		counter-reset: listNumber
		li
			position relative
			padding 2rem 0 2rem 2rem
			&:before
				counter-increment listNumber
				content counter(listNumber)
				absolute top 50% left
				rfs 8rem
				color color_light
				font-family ff_title
				z-index -1
				transform translate(0,-50%)
			& + li
				border-top 2px solid color_light
	.list-group
		position relative
		.line
			absolute bottom left
			height 2px
			background color_1
			z-index 1
			transition all .4s
		&.list-group-horizontal
			+below(xs)
				overflow auto
				margin-left -2rem
				margin-right -2rem
				.line
					display none
				.list-group-item.active
					border-bottom-color color_1 !important
	.list-group-item
		bdr(0 !important)
		background none !important
		color color_text
		padding 1rem 2rem
		border 0
		border-bottom 2px solid color_5 !important
		z-index 0 !important
		&:hover
			color color_1
			//border-bottom-color color_1 !important
		&.active
			color color_1
	.input-group
		position relative
		margin-bottom 1.5rem
		label
			font-size 0.75rem
			absolute top left 1rem
			margin auto
			padding 0 0.5rem
			background #fff
			transform translateY(-50%)
		&.input-number
			width auto
			.btn-transparent:hover
				background rgba(0,0,0,.1)
			.form-control
				size 3rem auto
				padding 0
				text-align center
				-ms-flex 0 0 auto
				flex 0 0 auto
				border-color transparent
				background none
			+below(xs)
				.btn-square
				.form-control
					size 2rem
					line-height 2rem
				.btn-square
					small()
		&-icon
			i
				absolute top left
				z-index 4
				line-height 3.5rem
				padding-left 1rem
				+below(sm)
					line-height 3rem
			.form-control
				padding-left 3rem
				bdr(bdr_2x !important)
		&:last-child
			margin-bottom 0
		&.button-group
			position relative
			+above(md)
				input
					padding-right 11rem
					.form-pesquisa &
						padding-right 8rem
				button
					absolute top right
					margin auto
			+below(sm)
				button
					margin-top 1rem
					width 100%
		&.comment
			padding 0.5rem
			display-flex(stretch, flex-start)
			background color_light
			bdr 40px
			.ratio-img
				inblock()
				margin-right 1rem
				size 2rem
				line-height 2rem
			input
			textarea
				padding 0 1rem 0 0
				-calc width '100% - 3rem'
				height auto
				background none
				border 0
				bdr 0
				line-height 1
			textarea
				padding 1rem
				height 5rem
				min-height 3rem
				max-height 8rem
			&-lg
				bdr bdr_2x
				padding 0
				.ratio-img
					margin 0.5rem 0 0 0.5rem
				input
				textarea
					-calc width '100% - 2.5rem'
	.form-control
		height 3.5rem
		bdr bdr_2x
		padding 0.75rem 1.5rem
		border 1px solid darken(color_5,10)
		&:focus
			border-color color_1
			box-shadow none !important
		.was-validated &:valid
		&.is-valid
			border-color color_success !important
			background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2307BB3D' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")
		.was-validated &:invalid
		&.is-invalid
			border-color color_danger !important
			background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23C71818' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23C71818' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")
		textarea&
			min-height 3.5rem
			height 9rem
			max-height 18rem
			.was-validated &:valid
			&.is-valid
			.was-validated &:invalid
			&.is-invalid
				background-position top 1rem right 1rem
		+below(sm)
			height 3rem
	.valid-feedback
		color color_success
		padding-left 1.5rem
	.invalid-feedback
		color color_danger
		padding-left 1.5rem
	.custom-range
		width 100%
		-webkit-appearance none
		width 100%
		background transparent
		cursor: pointer
		rangetrack = 
			width: 100%
			border-color: transparent
			color: transparent
			height 2px
			background color_1
			bdr()
			margin 0
		rangethumb =
			cursor grab
			-webkit-appearance: none
			size 1rem
			background color_1 !important
			margin 0
			margin-top -0.5rem
			transform translateY(1px)
			outline none !important
			transition all .4s
		&::-ms-track
			{rangetrack}
		&::-moz-range-track
			{rangetrack}
		&::-webkit-slider-runnable-track
			{rangetrack}
		&::-webkit-slider-thumb
			{rangethumb}
		&::-moz-range-thumb
			{rangethumb}
		&::-ms-thumb
			{rangethumb}
		&:active::-webkit-slider-thumb
			cursor grabbing
		&:focus::-webkit-slider-thumb
			box-shadow 0 0 0 0.75rem rgba(color_1,.2), 0 0 0 1.5rem rgba(color_1,.1)
	.custom-radio
	.custom-checkbox
		padding 0
		inblock()
		margin-top 0.5rem
		margin-bottom 0.5rem
		.custom-control-label
			margin auto
			border 1.5px solid color_light
			bdr bdr_3x
			line-height 1.5
			box-shadow none !important
			transition all .2s
			&[for]
			&[data-for]
				cursor pointer
			&:hover
				color color_text
				background darken(color_light,5)
				border-color darken(color_light,5)
			&::before
				top 0.2rem
				bdr()
				border 2px solid color_light
				box-shadow none !important
			&:before
			&:after
				display none
		.custom-control-input:checked ~ .custom-control-label
			border-color color_1
			&::before
				background color_2
				border-color color_2
		& + .custom-control
			margin-left 1rem
		&.transparent
			.custom-control-label
				background none
				border-color transparent
				&:hover
					background color_light
					border-color color_light
			.custom-control-input:checked ~ .custom-control-label
				background color_light
				border-color color_1
		&.number
			position relative
			text-align center
			margin-left 0
			.custom-control-label
				position relative
				size 2.5rem
				line-height 2.4rem
				padding 0
				background none
				border-color color_text
				i
					font-size fz_1x
					opac 0
					transition opacity .2s
			.custom-control-text
				absolute top 100% left 50%
				transform translateX(-50%)
				display block
				font-family ff_title
				max-width 4rem
				font-size 12px
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
				padding-top 0.5rem
				transition all .4s
				&[for]
					cursor pointer
			&:hover
				.custom-control-label
					background rgba(color_text,.1)
					i
						opac .5
			.custom-control-input:checked ~ .custom-control-label
				background color_text
				border-color color_text
				color #fff
				i
					opac 1
			&-sm
				.custom-control-label
					size 1.5rem
					line-height 1.5rem
			&.theme-white
				.custom-control-label
					color #fff
					border-color #fff
				&:hover .custom-control-label
					background rgba(#fff,.1)
				.custom-control-input:checked ~ .custom-control-label
					color color_text
					background #fff
					border-color #fff
			for val, i in theme_colors
				i = i + 1
				&.theme-{i}
					.custom-control-label
						color val
						border-color val
					&:hover .custom-control-label
						background rgba(val,.1)
					.custom-control-input:checked ~ .custom-control-label
						background val
						border-color val
			&.label-right
				.custom-control-text
					top 50%
					left 100%
					transform translateY(-50%)
					padding-top 0
					padding-left 0.3rem
					max-width 8rem
	.table
		tr
			transition background .2s
		td
		th
			padding 1rem
			vertical-align middle
		&.table-hover
			tbody tr:hover
				background color_light
		& + table
		&-responsive + .table-responsive
			padding-top 1rem
	.limit-table
		max-height 450px
		overflow-y auto
		padding-right 1rem
		&::-webkit-scrollbar
			width 7px
			background #ccc
		&::-webkit-scrollbar-track
			border-right 3px solid #fff
			border-left 3px solid #fff
		&::-webkit-scrollbar-thumb
			background color_4
		.modal &
			+below(xxs)
				margin-right -2.5rem
				margin-left -2.5rem
	.ratio-img
		position relative
		display block
		width 100%
		padding 0
		overflow hidden
		background-size cover
		&:before
			display block
			content ""
		img
			centraliza()
			max-width none
			max-height none
			&.wide
				height 100%
			&.tall
				width 100%
		&-fit
			img.wide
				height auto
				width 100%
			img.tall
				width auto
				height 100%
		&-21by9::before
			padding-top 42.857143%
		&-2by1::before
			padding-top 50%
		&-16by9::before
			padding-top 56.25%
		&-4by3::before
			padding-top 75%
		&-1by1::before
			padding-top 100%
		&-3by4::before
			padding-top 133.3333%
		&-9by16::before
			padding-top 177.7778%
		&-1by2::before
			padding-top 200%
		&-9by21::before
			padding-top 233.3333%
		&-avatar
			inblock()
			size 2.5rem
			line-height 2.5rem
			text-align center
			bdr 50%
			bold()
			font-family ff_title
			for val, i in theme_colors
				i = i + 1
				&-{i}
					color val
					background rgba(val,.25)
					a&:hover
						color #fff
						background val
	.circle-icon
		sz = 3.5rem
		size sz
		line-height sz
		font-size fz_2x
		inblock()
		text-align center
		bdr 50%
		background color_1
		color #fff
		position relative
		z-index 0
		i
			line-height -1
		&-hover
			color color_1
			background none
			&:before
				content ''
				abs-centro()
				bdr 50%
				z-index -1
				background color_1
				transform scale(.75)
				opac 0
				transition all .4s
			&:hover
				color #fff !important
				&:before
					opac 1
					transform scale(1)
		&-sm
			size 2.5rem
			line-height 2.6rem
			font-size fz_1x
			background color_light
			color color_text
			&:hover
				background color_1
				color #fff
	.filters-list
		width 100%
		position relative
		padding 0.25rem 0.5rem
		&:before
		&:after
			content ''
			absolute top left 0.4rem
			width 5rem
			bottom 0.3rem
			-calc bottom, '0.25rem + 1px'
			z-index 1
			pointer-events none
			h-gradient(#ffffff,rgba(255,255,255,0.0001))
			transition all .3s
		&:after
			left auto
			right 0.4rem
			transform scale(-1,1)
		&.left:before
			opac 0
		&.right:after
			opac 0
		&.left.right
			&:before
			&:after
				opac 0
		.filters-content
			display-flex(center, flex-start)
			display inline-flex
			width auto
			max-width 100%
			white-space nowrap
			overflow: auto
			-webkit-overflow-scrolling: touch
			&:after
				content ''
				absolute right bottom 0.25rem left
				height 2px
				background #fff
				z-index 2
				pointer-events none
				transition all .3s
				:hover&
					opac 0
			&::-webkit-scrollbar
				height 1px
				background rgba(0,0,0,.05)
			&::-webkit-scrollbar-track
				border-top 0px solid #fff
				border-bottom 0px solid #fff
			&::-webkit-scrollbar-thumb
				background color_4
	.card
		background #fff
		bdr()
		padding 2.5rem
		border 2px solid color_5
		&-border
			border 2px solid color_light
			bdr(bdr_2x)
		+below(xs)
			padding 2rem
	.accordion
		.collapsing
			overflow visible
		.card
			padding 1.5rem 2rem
			//padding-bottom 0
			&:first-child:last-child
				bdr(bdr_2x)
				border-bottom 2px solid color_light !important
				padding-bottom 0rem
			& + .card
				margin-top -1.5rem
			&:last-child
				padding-bottom 0
		.btn-accordion
			rfs fz_1x
			font-weight fw_2x
			color color_3
			box-shadow none !important
			display block
			-calc width '100% + 4rem'
			bdr 0
			margin -1.5rem -2rem 0 !important
			padding 1.5rem 4rem 1.5rem 2rem
			text-align left
			&:after
				content '\f078'
				{fa}
				absolute top 50% right 2rem
				transform translateY(-50%)
				color color_text
				transition transform .4s
			&:not(.collapsed)
				color color_1
				&:after
					transform translateY(-50%) scale(1,-1)
	.btn
		position relative
		inblock(middle)
		z-index 0
		font-size 14px
		font-family ff_title
		font-weight fw_default
		line-height 1.75
		padding 0.5rem 1rem
		margin 1rem auto
		border 0
		bdr(bdr_1x)
		color color_text
		background color_light
		outline none !important
		transition all .4s
		&:focus
		&:active
			color color_text
			box-shadow 0 0 1rem rgba(color_text,.4)
		&:hover
			color #fff
			background color_text
		&-sm
			padding 0.4rem 0.75rem
			small()
		&-lg
			padding-right 1.5rem
			padding-left 1.5rem
		&-square
			padding 0
			size 2.5rem
			line-height 2.5rem
			text-align center
			&.circle
				bdr 50%
			.fa-heart
				transition font-weight .4s
			&:hover
				.fal.fa-heart
					font-weight 500
				.far.fa-heart
					font-weight 700
		&-border
			background #fff
			box-shadow 0 0 0 1.5px color_light inset
			&:focus
			&:active
				background color_text !important
				color #fff !important
				box-shadow 0 0 0 1.5px color_text inset !important
			&:hover
				background color_light
				color color_text
		&-primary
			background color_1
			color #fff
			&:focus
			&:active
				background darken(color_1,10) !important
				color #fff !important
				box-shadow 0 0 1rem rgba(color_1,.4) !important
			&:hover
				background darken(color_1,5)
				color #fff
		&-outline-primary
			background transparent
			color color_1
			box-shadow 0 0 0 1.5px color_1 inset
			&:focus
			&:active
				box-shadow 0 0 0 1.5px color_1 inset !important
				background color_1 !important
				color #fff !important
			&:hover
				box-shadow 0 0 0 1.5px color_1 inset
				background rgba(color_1,.1)
				color color_1
		&-transparent
			background none
			color inherit
			&:hover
				background color_light
				color color_text
			&:focus
			&:active
				color color_text
				background darken(color_light,5)
				box-shadow 0 0 1rem rgba(color_light,.4)
			.text-white &
				&:hover 
					background rgba(#fff,.25)
					color #fff
				&:focus
				&:active
					background rgba(#fff,.4)
					color #fff
					box-shadow 0 0 1rem rgba(#fff,.4)
		&-facebook
			padding 1rem 2rem
			background #4267B2
			color #fff
			&:focus
			&:active
				background darken(#4267B2,10) !important
				color #fff !important
				box-shadow 0 0 1rem rgba(#4267B2,.4) !important
			&:hover
				background darken(#4267B2,5)
		&-danger
			box-shadow none !important
			&:focus
			&:active
				background color_danger !important
				color #fff !important
			&:hover
				background color_light
				color color_danger
		& + .btn
			margin-top 0
			margin-bottom 0
			margin-left 1rem
			+below(xs)
				margin-left 0
			+below(352px)
				margin-top 1rem
		&:first-child
			margin-top 0
		&:last-child
			margin-bottom 0
	.title
		display block
		font-family ff_title
		font-weight fw_title
		line-height 1.4
		margin 1rem auto 1rem
		& + .btn
		&:first-child
			margin-top 0
		&:last-child
			margin-bottom 0
		&-1
			rfs fz_3x
		&-2
			rfs fz_2x
		&-3
			rfs fz_1x
// Containers
	.container
		+above(lg)
			max-width 1280px
		+below(md)
			max-width 100%
		+above(xl)
			//max-width 1350px
		+above(xxl)
			//max-width 1600px
		+below(xs)
			padding-right 2rem
			padding-left 2rem
// Loader
	.loader
		fixed top right bottom left
		padding 1rem
		z-index 99999
		background #fff
		display-flex()
		display none !important
		transition all 0.4s 
		img
			//width 75%
			max-width 25rem
			//opac 0
			//filterblur(3px)
			//transform scale(0.9)
			transition all .4s
			animate(rotate,1.5s, false, true)
			.fast&
				display none
		.loading &
		.leaving &
			img
				opac 1
				filterblur(0)
				transform scale(1)
		.loaded:not(.leaving) &
			opac 0
			visibility hidden
			pointer-events none
			transition-delay .4s
			img
				opac 0
				//filterblur(5px)
				//transform scale(0.9)
			&.fast
				transition-delay 0s
		.leaving &
			transition all .2s
			img
				transition all .2s
// Theme
	#banner
		width 100%
		height 100vh
		-calc max-height, '100vh - 6.5rem'
		bg(banner)
		overlay(color_3,.6)
		fixed top left
		transition 0s !important
		.content
			padding 4rem 0 8rem
	.body-content
		position relative
		z-index 2
		width 100%
		background #fff
		-calc margin-top, '100vh - 6.5rem'	
	#topo
		z-index 50
		position relative
		background #fff
		transition all .4s
		box-shadow 0 0rem 0rem 0rem rgba(0,0,0,0)
		&.is-sticky
			.container-fluid
				top 0
				left 0
				position fixed
				box-shadow 0 1rem 1rem -0.5rem rgba(0,0,0,.15)
		+below(sm)
			.custom-control-text
				display none
		.container
			+below(xs)
				padding-left 0rem
				padding-right 0rem
		+below(xxs)
			.btn-lg
				padding-right 1rem
				padding-left 1rem	
	.item-foto
		position relative
		z-index 1
		inblock()
		float left
		margin 4px
		//overflow hidden
		&:before
			content ''
			abs-centro()
			z-index 1
			box-shadow 0 0 0 0 #EDFFFC inset
			pointer-events none
			transition all 0.3s
		.img
			position relative
			inblock()
			overflow hidden
			max-width 100%
			background #000
			transition all 0.3s
			&:before
			&:after
				content ''
				absolute top right left
				z-index -1
				height 60%
				gradient(rgba(#000,.75),rgba(#fff,0.001))
				transform translateY(-75%)
				opac 0
				transition all 0.3s
			&:after
				top auto
				bottom 0
				height 40%
				gradient(rgba(#fff,0.001),rgba(#000,.5))
				transform translateY(75%)
			img
				display block
				max-width 100%
				height auto
				margin-left auto
				margin-right auto
				transition all .4s
		.top-left
			absolute top 1rem left 1rem
			//transform translateY(-50px)
			z-index 3
			opac 0
			visibility hidden
			transition all 0.3s
		.top-right
			absolute top 1rem right 1rem
			//transform translateY(-50px)
			z-index 2
			opac 0
			visibility hidden
			transition all 0.3s
		.bottom-left
			absolute bottom 1rem left 1rem
			//transform translateY(50px)
			z-index 1
			opac 0
			visibility hidden
			transition all 0.3s
		.bottom-right
			absolute bottom 1rem right 1rem
			//transform translateY(50px)
			z-index 0
			opac 0
			visibility hidden
			transition all 0.3s
		&:hover
			.img
				img
					opac .6
					filterblur(1px)
					transform scale(1.05)
			.img:before
			.img:after
			.top-left
			.top-right
			.bottom-left
			.bottom-right
				opac 1
				visibility visible
				transform translate3d(0,0,0)
		&.active
			&:before
				box-shadow 0 0 0 20px #EDFFFC inset
			.top-left
				top 2rem 
				left 2rem
			.top-right
				top 2rem 
				right 2rem
			.bottom-left
				bottom 2rem 
				left 2rem
			.bottom-right
				bottom 2rem 
				right 2rem
			&:not(:hover)
				.top-left
					top 0rem 
					left 0rem
					opac 1
					visibility visible
					transform none
					> *:not(.custom-control)
					.custom-control .custom-control-text
					.custom-control input:not(:checked) ~ .custom-control-label
						opac 0
						visibility hidden
		&.static
			z-index 2
			&:hover
				//position static
	.fixed-comment
		fixed right 2rem bottom 2rem
		z-index 2
	.item-album
		inblock()
		margin 1rem
		font-family ff_title
		transition all .4s
		.ratio-img
			width 160px
			bdr bdr_2x
			background #000
			img
				transition all .4s
			&:after
				content '\f302'
				{fa}
				centraliza()
				opac 0
				color #fff
				font-size fz_2x
				transition .4s
		span
			display block
			padding 0.5rem 0rem
		&:hover
			.ratio-img
				img
					opac .5
				&:after
					opac 1