.width-100-p {
	width: 100% !important;
}

.cursor-pointer {
	cursor: pointer;
}

.product-qtd::-webkit-outer-spin-button, .product-qtd::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.product-qtd {
	-moz-appearance: textfield;
}

/* alert */
#alertMessage {
	position: fixed !important;
	width: 100%;
	margin-top: 0;
	top: 0 !important;
	left: 0 !important;
	border-radius: 0;
	z-index: 99999;
	cursor: pointer;
	border: 0;
}
#alertMessage p {
	margin: 0;
	font-size: 14px;
	letter-spacing: 1.2px;
	padding: 8px 0;
}

#alertMessage.alert-success {
	background: #0ecaaa;
	color: #FFF;
}
#alertMessage.alert-danger {
	background: #ff7675;
	color: #FFF;
}

/* loading */
#loading{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255,255,255,.8);
	position: fixed;
	left: 0;
	top: 0;
}
#loading .loading-content {
	position: absolute;
    margin: auto;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    color: #0dcaaa;
    font-weight: 700;
    width: 130px;
    height: 130px;
}

#loading svg {
    width: 100px;
    height: 100px;
}

#loading .svg-spin{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    display: inline-block;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#rodape {
	background: white;
    position: relative;
}

#modal-login img,
#banner img,
footer img {
  	max-width: 100%;
  	max-height: 150px;
}

@media (max-width: 1200px) {
  	#modal-ajax .title {
		margin-bottom: 20px;
	}

	#modal-ajax > .text-md-left > img {
		max-height: 200px;
	}
}

@media (max-width: 375px) {
  	.item-foto .bottom-right {
  		right: 0;
  		bottom: 0;
  	}
  	.item-foto .top-right {
  		right: 0;
  		top: 0;
  	}
  	.item-foto .top-left {
  		left: 0;
  		top: 0;
  	}
  	.cart-btn {
  		text-align: left;
  	}
}

@media (max-width: 767px) {
	.cart-selections {
		margin-top: 20px;
	}
}

.modal-login-email,
.modal-cadastro {
	display: none;
}

.item-foto.liked .fa-heart {
	font-weight: 700;
}

.item-foto.liked:not(:hover) .bottom-right {
  bottom: 0rem;
  right: 0rem;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  z-index: 2;
}

@media (min-width: 993px) {
  .expanded-options {
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 25px;
    left: 25px;
    padding-bottom: 10px;
  }

  .comment-list {
    position: absolute;
    top: 3rem;
    bottom: 210px;
    overflow-y: auto;
    right: 0;
    left: 0;
    padding: 0 25px;
  }
}

@media (max-width: 992px) {
  .fancybox-active .fancybox-container 
  .fancybox-inner .fancybox-caption {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    top: auto!important;
  }
  .fancybox-active .fancybox-container 
  .fancybox-inner .fancybox-slide,
  .fancybox-active .fancybox-container 
  .fancybox-inner .fancybox-navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 300px;
    padding: 0px;
    height: auto!important;
  }
  .fancybox-active .fancybox-container
  .fancybox-inner .fancybox-slide
  .fancybox-content {
    transform: none!important;
    height: 100%!important;
    width: 100%!important;
    bottom: 300px;
  }
  .fancybox-active .fancybox-container 
  .fancybox-inner .fancybox-navigation
  .fancybox-button {
    top: calc(50% - 50px);
  }
  .fancybox-image.image-horizontally {
    width: 100%; height: auto;
  }
  .fancybox-image.image-vertically {
    height: 100%; width: auto;
  }
}

.mt-4rem {
  margin-top: 4rem;
}
.ratio-img-avatar img {
  width: 40px;
  height: 40px;
}
.fancybox-content.loading {
  opacity: 0;
}
.item-foto .bottom-right {
  z-index: 2;
}
/*.img {
  -webkit-filter: blur(.1px);
  -moz-filter: blur(.1px);
  filter: blur(.1px);
  border: none!important;
}*/
.img {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
  border: none!important;
}
.item-foto .img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.item-foto .img .protected {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.01!important;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fancybox-content .protected {
  z-index: 2;
  position: absolute;
  opacity: .01;
  width: 100%;
  height: 100%;
}


/* CHECBOX */
.toggle{
  --uiToggleSize: var(--toggleSize, 20px);
  --uiToggleIndent: var(--toggleIndent, .4em);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #000);
  --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
  --uiToggleBgColor: var(--toggleBgColor, #fff);
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  --uiToggleArrowColor: var(--toggleArrowColor, #fff);
  display: inline-block;
  position: relative;
}
.toggle__input{
  position: absolute;
  left: -99999px;
}
.toggle__label{
  display: inline-flex;
  cursor: pointer;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
}
.toggle__label:before, .toggle__label:after{
  content: "";
  box-sizing: border-box;  
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.toggle__label:before{
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  z-index: 2;
}
.toggle__input:not(:disabled) ~ .toggle__label:after{
  background-color: var(--uiToggleColor);
  opacity: 0;
}
.toggle__input:not(:disabled):checked ~ .toggle__label:after{
  opacity: 1;
}
.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
}
.toggle__text:before{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize);
  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--uiToggleArrowColor);
  position: absolute;
  top: .5428em;
  left: .2em;
  z-index: 3;
  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}
.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
  width: .5em;
  height: .25em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
  will-change: width, height;
  transition: width .1s ease-out .2s, height .2s ease-out;
}
.toggle{
  border-radius: 5px;
  --toggleColor: #0ecaaa;
  --toggleBgColor: #0ecaaa;
  --toggleSize: 25px;
} 