body.galeria-modal-open{
	overflow: hidden;
	height: 100%;
	z-index: -1;
	-webkit-overflow-scrolling: touch;
}

.galeria-modal{
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -10;
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	transition: opacity 0.2s ease;
}

body.galeria-modal-open .galeria-modal{	
	opacity: 1;
}

.galeria-modal-image{
	top: 0;
	left: 0;
	width: calc(100vw - 360px);
	position: absolute;
	min-height: 100vh;
	background-color: #000000bf;
	background-color: #000;
}

.galeria-modal-body{
	top: 0;
	right: 0;
	width: 360px;
	height: 100vh;
	position: absolute;
	background-color: #fff;
}

.galeria-modal-body .galeria-modal-comments{
	transition: opacity 0.2s ease;
}

.galeria-modal-body.changing .galeria-modal-comments{
	opacity: 0.4;
}

.galeria-modal-body .galeria-modal-comments .comment-list{
	overflow-y: scroll;
}

.galeria-modal::-webkit-scrollbar,
.galeria-modal-body .galeria-modal-comments .comment-list::-webkit-scrollbar {
  width: 1px;
  background: rgba(0,0,0,0.05);
}
.galeria-modal::-webkit-scrollbar-track,
.galeria-modal-body .galeria-modal-comments .comment-list::-webkit-scrollbar-track {
  border-top: 0px solid #fff;
  border-bottom: 0px solid #fff;
}
.galeria-modal::-webkit-scrollbar-thumb,
.galeria-modal-body .galeria-modal-comments .comment-list::-webkit-scrollbar-thumb {
  background: #999;
}

.galeria-modal .galeria-modal-close{
	cursor: pointer;
	top: 1rem;
	right: 1rem;
	color: #808080;
	z-index: 10;
	width: 3rem;
	height: 3rem;
	position: absolute;
	background: #F7F7F7;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.galeria-modal-image .galeria-carousel .item{
	padding: 1rem 0;
	position: absolute;
	z-index: 0;
	opacity: 0;
	width: 100%;
	height: 100vh;
	transition: all .2s ease;
}

.galeria-modal-image .galeria-carousel .item.active{
	padding: 0;
	opacity: 1;
	z-index: 1;
}

.galeria-modal-image .galeria-carousel .item:after{
	content: " ";
	top: 0;
	left: 0;	
	bottom: 0;
	opacity: 0;
	width: 100%;
	position: absolute;
}

.galeria-modal-image .galeria-carousel .item .galeria-item{
	width: auto;
	max-width: 1040px;
	height: 100vh;
	display: block;
	margin: auto;
	position: relative;
}

.galeria-modal-image .galeria-carousel .item .galeria-item img:first-child{
	width: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .2s ease;
}

.galeria-modal-image .galeria-carousel .item .galeria-item.loading img:first-child{
	opacity: 0;
}

.loading:before{
    top: 50%;
    left: 50%;
    font-family: "Font Awesome 5 Pro";
    content: "\f3f4";
    color: gray;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);

    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.galeria-modal-image .galeria-nav{
	left: 0;
	top: 50%;
	height: 0;
	right: 0;
	z-index: 2;
	display: flex;
	margin-top: 0;
	position: absolute;
	align-items: center;
	transform: translate(0, -50%);
	justify-content: space-between;
}

.galeria-modal-image button{
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	color: #fff;
	margin: 0 1rem;
	position: relative;
	background-color: #484848a6;
	transition: all .2s ease;
}

.galeria-modal-image .galeria-nav button:hover{
	background-color: #3e3e3e;
}

.galeria-modal-image button i{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.galeria-modal-image .galeria-nav button.galeria-next{float: right;}
.galeria-modal-image .galeria-nav button.galeria-prev{float: left;}
.galeria-modal-image .galeria-nav button.disabled{opacity: .2;}

.galeria-modal .galeria-control{
	left: 0;
	width: 100%;
	bottom: 1rem;
	position: absolute;
	display: none;
	opacity: 0;
}

.galeria-modal.autoplay .galeria-control{
	display: block;
	opacity: 1;
}

.galeria-modal .galeria-play,
.galeria-modal .galeria-pause{
	left: 50%;
	bottom: 0;
	margin: 0;
	z-index: 1;
	position: absolute;
	transition: opacity .2s ease;
	transform: translate(-50%, 0);
}

.galeria-modal.autoplay .galeria-play{opacity: 0;z-index: 1;}
.galeria-modal.autoplay .galeria-pause{opacity: 1;z-index: 2;}

.galeria-modal.autoplay.paused .galeria-pause{opacity: 0;z-index: 1;}
.galeria-modal.autoplay.paused .galeria-play{opacity: 1;z-index: 2;}

.galeria-modal-comments{
	width: 100%;
	display: block;
	position: relative;
	overflow-x: hidden;
}

.galeria-modal-comments .photo-name{
	position: absolute;
	right: 100%;
	bottom: 0;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
	color: #fff;
	width: 100%;
	text-align: right;
}

.galeria-modal-comments .comment-header{
    z-index: 1;
	position: relative;
    box-shadow: 0px 7px 9px #ffffff;
}

.galeria-modal-comments .comment-footer{
    z-index: 1;
    position: relative;
    box-shadow: 0px -7px 9px #ffffff;
}

@media (max-width: 768px){

	.galeria-modal-image .galeria-nav{
		display: none;
		opacity: 0;
	}

	.galeria-modal{
		width: calc(100vw + 1px);
	}

	.galeria-modal-image{
		width: 100vw;
		position: relative;
		min-height: 70vh;
	}

	.galeria-modal-image .galeria-carousel .item{
		height: 70vh;
	}

	.galeria-modal-image .galeria-carousel .item .galeria-item{
		height: 70vh;
	}

	.galeria-modal-body{
		width: 100vw;
		height: auto;
		min-height: 30vh;
		padding-bottom: 3rem;
		position: relative;
	}

	.galeria-modal{
		overflow-y: auto;
	}

	.galeria-modal .galeria-modal-close{
		width: 2.5rem;
		height: 2.5rem;
		color: #b1b1b1;
		background: #f7f7f72b;
	}

	.galeria-modal-body .galeria-modal-comments .comment-list{
		height: auto !important;
		overflow-x: hidden;
		overflow-y: visible;
	}

	.galeria-modal-body .galeria-modal-comments .input-group.comment textarea{		
		height: 1rem;
		max-height: 1rem;
	}

	.galeria-modal-body .galeria-modal-comments .input-group.comment textarea:focus{
		height: auto;
		max-height: none;
	}

	.zoomImg{
		display: none !important;
	}
}